[2019-02-07 23:37] tesseralis opened #1 "Korean Translation Progress"
## Maintainer List

* @taehwanno
* @simsim0709
* @hg-pyun
* @gnujoow
* @b9words
* @taggon

## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. **Take only one page at a time**.
3. Check out prior works in #4 before you get started.
4. Clone this rep

[2019-02-08 03:16] gnujoow opened #2 "translate glossary"
# 안내

문서에서 사용되는 용어 번역에 대한 논의는 더 이상 이 이슈에서 진행하지 않습니다.
용어 사용에 대한 논의가 필요한 경우 [term issue](https://github.com/reactjs/ko.react.dev/issues/new?assignees=&labels=discussion%2C+term&template=term.md&title=)를 열어서 진행해주세요.

**참고**
https://github.com/reactjs/ko.react.dev/wiki/Translate-Glossary

---
        ko.reactjs.org/content/docs/reference-glossary.md

https://github.com/reactjs/ko.reactjs.org/blob/mast

[2019-02-08 03:38] taehwanno commented on #1
@tesseralis Hi. Thanks for kind explanation.
Can you change the **glossary** link in issue description to [this reactjs.org link](https://reactjs.org/docs/glossary.html)?
This link may change if a style guide for Korean translation is created.

[2019-02-08 04:49] taehwanno commented on #2
@gnujoow Hi. If you want to translate glossary, I think you can refer to [this link](https://github.com/reactkr/react/wiki/Glossary).
This link was maintained by [reactkr](https://github.com/reactkr). But it does not seem to be maintained based on [this issue](https://github.com/reactkr) after React v0.14.0-alpha.

[2019-02-08 05:39] hg-pyun commented on #2
@gnujoow @taehwanno
Thank you. I will read it later :)

[2019-02-08 05:45] hg-pyun opened #3 "Using communication tool for translation team"
How about using some communication tools like slack? I wish there was a channel to exchange opinion. Say your ideas!

Thank you.

[2019-02-08 06:57] gnujoow commented on #2
@taehwanno @hg-pyun

We haven't set translation rules, but if you don't mind, I'll translate glossary.

I will do with following rules

[code]

[2019-02-08 08:07] taehwanno opened #4 "Prior works"
There are some Korean translations of official React documents. I think we can translate them a little bit faster if we can use the previously translated text. So, I list the translation posts that are accessible by URL but are not committed in the current repository. The translation lists are listed in the latest order of publication date. The pages that did not find translations are not listed b

[2019-02-08 08:09] gnujoow commented on #4
thank this would be very helpful!

[2019-02-08 08:12] taehwanno commented on #1
For new translators :runner:, Please first check out #4

[2019-02-08 08:26] tesseralis commented on #1
@taehwanno you should be able to edit the issue directly! Just click the ellipsis > "Edit"

[2019-02-08 09:01] hg-pyun commented on #4
LGTM

[2019-02-08 09:09] taehwanno commented on #1
@tesseralis I tried, but I do not seem to have the authority :)

![image](https://user-images.githubusercontent.com/7760903/52468317-b7971c80-2bcb-11e9-9558-fdb52f9f69db.png)

[2019-02-08 09:26] tesseralis commented on #1
Ah! Sorry, I thought you were already one of the maintainers. I can add you to the list! You've done a lot of good work already finding all those resources!

[2019-02-08 09:51] taehwanno commented on #1
@tesseralis Sweet, Thanks.

[2019-02-08 10:09] seungha-kim commented on #1
@tesseralis I am a contributor of React Crowdin project, but there is no progression for a long time at all. Is really able to work in crowdin project? And what's your plan for merging PRs & Crowdin translations?

[2019-02-08 10:16] tesseralis commented on #1
Hi @seungha-kim .

Please see the original issue here: https://github.com/reactjs/reactjs.org/issues/1605

Long story short, we decided that doing the translations directly on Github was the better approach since:

* Developers are more likely to understand git version control
* People are interested in contributing to the React repo

As for integrating Crowdin, we're encouraging people to use the

[2019-02-08 10:23] seungha-kim commented on #1
I think there is no motivation to use Crowdin then :( I am likely to do job once using Git, rather than twice.

[2019-02-08 10:28] seungha-kim commented on #3
There is React Korea Slack workspace -> http://bit.ly/2Fvzis1

[2019-02-08 10:36] ENvironmentSet commented on #4
quality of those translations looks great. :))

[2019-02-08 10:43] taehwanno commented on #3
I agree to create a new channel on React Korea Slack.

[2019-02-08 10:47] ENvironmentSet commented on #3
yes, we need one. #public channel is used by common users, we'd better not to disturb them.

[2019-02-08 10:50] seungha-kim commented on #4
[This repository](https://github.com/seungha-kim/reactjs.org/tree/ko-kr-180116) is my fork of https://reactjs-kr.firebaseapp.com

The website is [here](https://reactjs-org-ko.netlify.com/)

[2019-02-08 10:56] taggon commented on #3
Good idea. I just created _#translation_ public channel in [React Korea Slack](http://bit.ly/2Fvzis1) workspace. Please join in if you're interested in the translation.

[2019-02-08 12:05] simsim0709 commented on #2
We can alsot look at https://github.com/reactjs/reactjs.org-translation#make-a-glossary-and-style-guide here as a reference.

[2019-02-08 13:20] taehwanno commented on #4
@seungha-kim Based on [comparing changes](https://github.com/techhtml/reactjs.org/compare/ko-kr...seungha-kim:ko-kr-180116), I updated the issue description.
Please let me know if I missed some docs.

[2019-02-08 15:26] chatoo2412 commented on #4
I have one: https://chatoo2412.github.io/javascript/react/react-hooks-overview/

[2019-02-08 15:40] chatoo2412 commented on #1
I have [a translation of `Hooks at a Glance` page](https://chatoo2412.github.io/javascript/react/react-hooks-overview/). I will polish and submit PR.

[2019-02-08 15:51] taehwanno commented on #4
@chatoo2412 Thanks. The description was updated.

[2019-02-08 15:57] ENvironmentSet opened #5 "Using Github Issues as unit of translation."
As we know, this project have **many volunteers**, and **documents**.

So, I think we need a **board** to share each work's status, blocking problems, etc.. also to prevent duplication of translation, and to work more effectively.

and, **github issues** and **projects** will do us.
could you share your idea about this?

[2019-02-08 23:41] tesseralis commented on #1
@chatoo2412 thank you for you PR! In the future, please let us know in a comment here when you're working on a page, so that we don't duplicate work with others. Also, we'd like to focus on the sections listed under "Core Pages"!

[2019-02-09 01:42] taehwanno commented on #2
@gnujoow You got it. Thanks.

[2019-02-09 03:13] chatoo2412 commented on #1
@tesseralis I wanted to contribute using my prior work. I'll continue with `Home Page` today.

[2019-02-09 05:07] tesseralis commented on #5
If you think a board would help you keep track, you're welcome to do so! Japanese and French have been able to get by using a single issue like https://github.com/reactjs/ko.reactjs.org/issues/1, but if it makes sense to your team then go for it!

[2019-02-09 05:58] cadenzah commented on #1
@tesseralis I want to start off with **[API Reference](https://reactjs.org/docs/react-api.html)**.

[2019-02-09 06:05] tesseralis commented on #1
@hg-pyun @simsim0709 @gnujoow , as maintainers, could you keep track of this issue and assign people by editing the issue?

[2019-02-09 06:06] gnujoow commented on #1
I will 👍

[2019-02-09 06:08] ENvironmentSet commented on #1
@gnujoow is [this document](https://reactjs.org/docs/refs-and-the-dom.html) available to translate?
If it is, I want to translate it. can I?

[2019-02-09 06:18] gnujoow commented on #1
@ENvironmentSet of course you can! please do 😄

[2019-02-09 06:19] taehwanno commented on #4
Updated: I deleted each translation status because I think it was not meaningful.

[2019-02-09 06:42] chayeoi commented on #1
I want to work on Hello World.

[2019-02-09 07:20] ENvironmentSet commented on #2
and... we can also check technical terms in [here](http://terms.tta.or.kr/dictionary/searchList.do)

[2019-02-09 08:49] simsim0709 commented on #1
@tesseralis yes, I will. Thanks

[2019-02-09 11:01] purelledhand commented on #1
I want to participate in the translation. Could you invite me please? 😊

[2019-02-09 11:07] ENvironmentSet commented on #1
@purelledhand Oh, Did you meant translation of refs-and-the-dom document?

[2019-02-09 15:13] simsim0709 opened #10 "Should we translate source code outputs and comments?"
<img width="779" alt="screen shot 2019-02-10 at 12 07 15 am" src="https://user-images.githubusercontent.com/10040154/52522387-19d54780-2cc8-11e9-8dc4-03fe17754429.png">

Regarding the scope of translation, we need to discuss what to translate and what not to translate.

Any suggestion?

[2019-02-09 15:14] simsim0709 commented on #2
#10

[2019-02-09 15:18] ENvironmentSet commented on #10
I don't have any strong opinion about translating string values. But in my opinion, we must translate source code comments since they are highly associated with contents of documents.

[2019-02-09 16:45] cadenzah commented on #1
Following **[React Top-level API](https://reactjs.org/docs/react-api.html)**, I will translate the next document, **[React.Component](https://reactjs.org/docs/react-component.html)**

[2019-02-09 16:46] cadenzah commented on #10
In my case, I translate only comments, nothing else.

[2019-02-09 21:01] tesseralis commented on #1
@cadenzah you got it!

[2019-02-09 23:04] rkdmen commented on #1
@tesseralis I’ll take `Introducing JSX`

[2019-02-09 23:22] taehwanno commented on #1
@rkdmen Thanks. You got it.

[2019-02-10 05:05] taehwanno opened #14 "Translate Universal Style Guide"
As you can see [here](https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md), Universal Style Guide is added to [reactjs/reactjs.org-translation](https://github.com/reactjs/reactjs.org-translation).
I will translate this guide and add to this repo. The filename may be `UNIVERSAL-STYLE-GUIDE.md`

[2019-02-10 06:00] noahluftyang commented on #1
If it's available, I wanna translate `ReactDOM` part.

[2019-02-10 06:33] purelledhand commented on #1
the latter one. I wanna take `Components and Props`

[2019-02-10 06:35] ENvironmentSet commented on #1
@purelledhand then you should ask to maintainer. I'm not a maintainer.

[2019-02-10 06:39] taehwanno commented on #1
@noahluftyang Thanks. You got it.

[2019-02-10 06:41] taehwanno commented on #1
@purelledhand You got it. :rocket:

[2019-02-10 12:32] hg-pyun commented on #10
I think it would be a good idea to translate the comment.

[2019-02-10 12:40] hg-pyun commented on #5
I think #1 would be enough, but do you have any other ideas?

[2019-02-10 12:54] ENvironmentSet commented on #5
okay, I will follow you :))

[2019-02-10 12:54] #5 closed

[2019-02-10 15:35] simsim0709 commented on #2
https://github.com/reactjs/zh-hans.reactjs.org/issues/2
여기처럼 간단한 표로 용어들을 정리하면 좀 더 번역 하시는 분들께 도움이 될 것 같습니다.

@gnujoow 님의 첫번째 코멘트에 표로 작성을하고, 코멘트 수정 권한 있으신 분들은 다른 분들 의견/수정 요청 한 것들 표에 반영 하는 식으로 하면 어떨까요?

[2019-02-10 15:50] Godsenal commented on #1
I wanna take `Handling Events` !

[2019-02-10 15:54] taehwanno commented on #1
@Godsenal Thanks. You got it!

[2019-02-11 00:38] BKJang commented on #1
I wanna take `Rendering Elements` If it's possible.

[2019-02-11 00:41] taehwanno commented on #1
@BKJang Thanks. you got it.

[2019-02-11 01:23] Jonir227 commented on #1
Can I get `Conditional Rendering`?

[2019-02-11 01:23] nghy97 commented on #1
Can I get *Using the State Hook*?

[2019-02-11 01:29] Geon-wooBryanKim commented on #1
Can I get `Introducing Hooks` ?

[2019-02-11 01:34] b9words commented on #1
@Jonir227 @nghy97 @Geon-wooBryanKim
Thanks. You all got it!

[2019-02-11 01:49] taehwanno commented on #1
@b9words In the future, if the new translators themselves do not have any prior translations, I think that we need to encourage them to translate "Core Pages" rather than "Next Steps" to follow community guidelines. 😄

[2019-02-11 01:56] taehwanno commented on #3
@b9words Can you tell if you're on the channel? If you don't, please join us :)

[2019-02-11 02:22] b9words commented on #1
Right. Thanks for the guidance.

[2019-02-11 04:07] hewonjeong commented on #1
Can I get `Composition vs Inheritance`?

[2019-02-11 04:14] taehwanno commented on #1
@hewonjeong Thanks. You got it.

[2019-02-11 04:30] simsim0709 commented on #2
reactjs/zh-hans.reactjs.org#2 에서 정리된 용어들에서 중문을 없애고 올립니다. 제안 주시면 추가/수정 해놓도록 하겠습니다.

# React

| 용어 | 번역 |
| :---: | :---:|
| Tutorial | |
| Declarative | |
| Component | |
| Stateful Component | |
| render | |
| data | |
| Application | |
| External Plugins | |
| Third Plugins | |
| syntax | |
| Embedding Expressions | |
| Attributes | |
| Elements | |
| Function / Functional Components | |
| Class

[2019-02-11 10:37] yesjin-git commented on #1
Can I translate `Using the Effect Hook`? @taehwanno

[2019-02-11 10:42] taggon commented on #3
This issue is already resolved as I created the #translation channel. Can we close this?

[2019-02-11 10:57] Jravvit commented on #1
Can I get `Lists and Keys`? @taehwanno

[2019-02-11 10:59] taehwanno commented on #1
@yesjin-git May I ask you to translate Core Pages first?
@Jravvit Yes. you got it. thanks

[2019-02-11 11:07] yesjin-git commented on #1
@taehwanno all right. Then I want to start with `Thinking in React` part :)

[2019-02-11 11:09] taggon commented on #2
나름대로 아래에 간단하게 정리해보았습니다. "또는"이라고 표기한 부분에 대해서는 의견을 모아 하나로 정하면 될 것 같습니다.

---

- Tutorial: 자습서
- Declarative: 선언적인
- Component: 컴포넌트
- Stateful Component: 유상태 컴포넌트 또는 상태 보유 컴포넌트.
- Stateless Component: 무상태 컴포넌트. stateless protocol의 번역으로 '무상태 프로토콜'이 널리 사용되길래 비슷하게 맞추어 보았습니다.
- render: 렌더링하다
- data: 데이터
- Application: 애플리케이션 또는 응용프로그램. 원칙적으로는 응용프로그램으로 번역하는 게 맞지만 실무에서는 애플리케이션을 많이 사용해서 번역하다보면 현실과 동떨어진 느낌이

[2019-02-11 11:13] taehwanno commented on #1
@yesjin-git Thanks. you got it :thumb:

[2019-02-11 11:42] taehwanno commented on #3
I think it's okay. I specified an invitation link in the #1 description.

[2019-02-11 15:19] simsim0709 commented on #2
@taggon 님이 제안 주신 것 중에 아래 3가지는 이렇게 적용 해봤습니다.
* Stateful Component: 유상태 컴포넌트
* Application: 애플리케이션
* Function / Functional Components: 함수 컴포넌트

 "Function / Functional Components" 이 부분의 경우 예전에는 함수로 된 컴포넌트를 functional component로 많이 쓰다가 현재는 용어상의 혼동으로 [function 컴포넌트](https://reactjs.org/docs/components-and-props.html#function-and-class-components)로 변경 된걸로 알고 있어서 함수 컴포넌트로 했습니다.

혹시 다른 의견있으시면 알려주세요.

감사합

[2019-02-11 22:23] taehwanno commented on #2
Example은 `예제` (#9), `예시` (#17) 2가지로 번역되고 있네요.
제 개인적인 생각으로는 문제의 성격보다는 보여준다는 의미에서 `예시`가 맞지 않을까 하는데 의견 부탁드릴게요.

- [예시 (네이버 국어사전)](https://ko.dict.naver.com/#/entry/koko/53d254848d4f4325831ea0d67c57bb90)
- [예제 (네이버 국어사전)](https://ko.dict.naver.com/#/entry/koko/189414fec44e4949a3b3b799607f800f)

[2019-02-11 22:31] ENvironmentSet commented on #2
fowardicng refs는 어떻게 해야 할까요?
#13 에서는 ref 넘겨주기/전달하기 정도로 번역하여 사용하고 있습니다만, forwarding ref 영문 표기를 그대로 할 지(API에 `forwardRef`이라는 함수가 있습니다.), 아니면 어떻게 순화할 지, 명확하게 정해야 할 것 같습니다.

[2019-02-11 22:34] taehwanno commented on #2
spec, specification 번역도 `스펙`, `명세`으로 될 수 있을 것 같네요. (#19)
이 부분은 `명세`가 알맞지 않나 생각하고 있어요.

[2019-02-12 00:35] Godsenal commented on #2
spec, specifiation은 확실하게 번역이 되는만큼 `명세`로 가는게 좋을 것 같습니다.

[2019-02-12 02:43] LeeHyun-A commented on #1
Can I get `Forms`? @taehwanno

[2019-02-12 02:59] taehwanno commented on #1
@LeeHyun-A Yes. you got it. thanks

[2019-02-12 04:05] taggon commented on #2
- `spec`, `specification`은 `명세`
- `camelCase`는 `캐멀케이스`. 외래어 표기법에 따라 [카멜(x), 캐멀(o)](https://ko.dict.naver.com/small_detail.nhn?docid=38602700)이라고 합니다.
- `synthetic event`는 기출간된 서적에서도 `합성 이벤트`로 번역되었으므로 이를 따르는 게 어떨까 합니다.

위와 같이 제안합니다.

[2019-02-12 04:44] simsim0709 commented on #2
표 추가/수정 했습니다.

* synthetic event: 합성 이벤트
* camelCase: 캐멀 케이스
* spec, specification: 명세
* example: 예시

어느 정도 논의가 완료 된것들은 "확정" 이라는 표시를 좀 할 필요가 있을 것 같네요.

[2019-02-12 05:31] rlagksruf16 commented on #1
@taehwanno I wanna take state and lifecycle. Is it okay?

[2019-02-12 05:51] taehwanno commented on #1
@rlagksruf16 you got it. thanks.

[2019-02-12 06:50] stepover10 commented on #1
Can I get `DOM Elements`? @taehwanno

[2019-02-12 07:14] taehwanno commented on #1
@stepover10 Thanks. you got it.

[2019-02-12 07:26] hyunalee419 commented on #1
Please, change my name `LeeHyun-A' to 'hyunalee419'. Sorry... 😅

[2019-02-12 07:30] ENvironmentSet commented on #2
#22 번에서 다른 분이 언급해주신 문제입니다.

또한 `export`에 대한 논의도 필요해 보입니다.

[2019-02-12 07:32] taehwanno commented on #1
@hyunalee419 Updated

[2019-02-12 13:26] taehwanno commented on #2
building block에 대한 논의도 필요해보여요.
- 빌딩 블록 ([Function - MDN](https://developer.mozilla.org/ko/docs/Web/JavaScript/Guide/%ED%95%A8%EC%88%98))
- 작은 단위 (https://github.com/reactjs/ko.reactjs.org/pull/16#discussion_r255340163)
- 구성 블록 (#9)
- 구성 단위 (개인적인 제안)

block을 `블록`으로 번역할 때는 의미 전달이 명확하지 않다는 단점이 있는 것 같아요. `작은 단위`, `구성 단위`가 바람직한 방향이 아닐까 생각하고 있습니다. 의견 부탁드릴게요.

[2019-02-12 13:40] gnujoow commented on #1
I will do **Higher-Order Components** by 22nd Fed.

[2019-02-12 13:48] gnujoow commented on #2
다음 용어에 대한 논의도 추가되었으면 합니다.
ref https://github.com/reactjs/ja.reactjs.org/wiki/%E8%A8%B3%E8%AA%9E%E3%81%AE%E7%B5%B1%E4%B8%80

| 용어 | 제안 |
|---|---|
| higher order component | 고차컴포넌트와 영문 병기, 혹은 영문으로 사용 |
| Portals | 원문 그대로 사용 |
| Shallow Renderer | 얕은 렌더링 |
| reconciliation/reconciler  | |
| imperative |  |

[2019-02-12 14:14] gnujoow opened #23 "PR merge rule and PR template suggestion"
# pr merge
Since no PR has been merged yet, I think it would be good to make rule for merging PR.

# pr template

[code]

here is the current PR template, but if the checklist is included here, contributors and reviewers can check the progress of the PR so it can bring better communicate better.

[2019-02-12 14:15] gnujoow commented on #23
for PR mege I suggest PR is merged if it has (at least) two approve from reviewer or maintainer to check the quality of the translation.

<img width="753" alt="2019-02-12 10 50 40" src="https://user-images.githubusercontent.com/10865414/52639922-c148b900-2f18-11e9-8c33-076a4a38e640.png">

[2019-02-12 14:25] gnujoow commented on #23
[code]

if this checklist included in template, I think this will be able to help contributors to check their tranlation progress.

[2019-02-12 14:26] gnujoow commented on #3
as link is included #1, i will close this issue

[2019-02-12 14:26] #3 closed

[2019-02-12 14:31] taehwanno commented on #23
I agree :)

Good idea. We need to add `UNIVERSAL-STYLE-GUIDE.md`.

[2019-02-12 14:34] taehwanno commented on #10
This will be fixed in #14

[2019-02-12 16:45] Curzy commented on #2
Controlled/Uncontrolled Component: (State에 의한)제어/비제어 컴포넌트

가 어떨까요?

-ed의 의미를 살려 제어되지 않은, 제어된 컴포넌트로 번역할 수도 있지만, 컴포넌트가 "single source of truth"인 State를 제어(setState)하고, State의 값에 따라 render가 제어되는 의미를 전달하기가 약한것 같습니다

[2019-02-13 06:14] hg-pyun commented on #23
Yeah, It is a very coool idea.

[2019-02-13 12:24] taggon commented on #23
I think the third item should be "맞춤법 검사" rather than "띄어쓰기 검사", as the online tool checks more than spacing.

[2019-02-13 12:47] hewonjeong commented on #2
용어 | 제안
--- | ---
children | 자식

자칫 prop처럼 영문 그대로 쓸 우려가 있을 것 같아서 추가하면 좋을 것 같습니다:)

[2019-02-13 13:10] cadenzah commented on #23
The idea of progress items is pretty nice. It will be easier to check important stuffs.

[2019-02-13 14:15] taggon opened #27 "Draft: Best practices for translation"
I wrote a draft of "Best practices for translation" document. Will appreciate any feedback from you. :)
"번역 모범 사례" 문서의 초안을 작성해보았습니다. 보시고 의견있으시면 주세요. 어떤 피드백이든 환영합니다. :)

-----

# 모범사례

## 쌍점은 거의 사용하지 않습니다.

한국어 맞춤법에서는 쌍점(colon, 콜론)을 사용하는 경우를 규정하고 있는데 항목의 열거나 희곡 대사 등에서만 제한적으로 사용합니다([참고](https://www.korean.go.kr/front/page/pageView.do?page_id=P000197&mn_id=30)). 특히 영어처럼 문장 끝에 쌍점을 붙이는 경우는 없으므로 주의하세요.

[2019-02-13 14:26] taehwanno commented on #23
I applied "Require pull request reviews before merging" with options in the screenshot.

[2019-02-13 15:20] Ailrun commented on #27
피동형 문장과 관련된 예시에 '보때다' 라는 잘못된 단어가 등장하는데, '보이다' 의 오타로 보입니다.
[code]
를 의도하신 게 맞나요?

[2019-02-13 15:22] taggon commented on #27
@Ailrun 어라... 그게 왜 그렇게 저장됐을까요... ;; 에디터에서 써서 옮긴 글인데 에디터에는 보이다로 되어있는데요. 이상하네요. 수정하겠습니다 ㅎㅎ

[2019-02-13 15:35] Ailrun commented on #27
덧붙여보자면

## 강조가 필요한 경우에는 이탤릭체를 영문에 적용합시다.
한글에는 이탤릭체에 해당하는 기울임꼴이 존재하지 않습니다. 컴퓨터 상에서 볼 수 있는 한글 이탤릭체들은 한글 글씨를 기울여서 만든 것으로, 영문의 경우 이탤릭체를 따로 글씨체에 포함하는 것과는 다른 방식으로 만드는 경우가 많습니다. 따라서 이탤릭체를 사용해야할 경우에는 다음과 같이 영문에 적용하도록 합니다.

는 어떤가요?

[2019-02-13 15:41] Ailrun commented on #27
또한 쉼표의 경우에는 예시로 드신
[code]
가 한글 맞춤법 링크의 12 번 경우에 해당하기 때문에 ('JavaScript와 마찬가지로'가 'JavaScript 와 마찬가지로 가독성이 좋은'과 같이 연결되는 것이 아니라, 'JavaScript 와 마찬가지로 방식을 선택' 하는 것으로 연결되기 때문에) 부적절하다고 생각합니다.

제 생각에는 국어 내에서도 쉼표를 사용해야할 곳이 많기 때문에, 쉼표를 제한적으로 사용한다기보다는 '쉼표를 무조건 쉼표로 번역하지 맙시다' 정도의 권고가 어떨까 싶네요.

[2019-02-13 23:09] simsim0709 commented on #23
I agree 👍

[2019-02-14 02:03] hg-pyun commented on #27
At this point, it looks good to organize it and manage it by making it into an md file.

[2019-02-14 02:03] hg-pyun commented on #2
At this point, it looks good to organize it and manage it by making it into an md file.

[2019-02-14 04:42] simsim0709 commented on #2
이번주 중으로 의견 모두 취합해서 위키에 작성해놓도록 하겠습니다.

@hg-pyun

[2019-02-14 11:45] taggon commented on #27
@Ailrun
쉼표 부분에 관해서는 주신 의견을 반영했습니다. 예문이 적절하지 않았던 것 같아서 예문도 수정했고요.

이탤릭체의 사용에 대해서는 확신이 없어서 아직 반영하지 않았습니다. 서적 번역에서는 기울임꼴 대신 아예 다른 모양의 글꼴을 사용하거나 굵은 글씨로 표현하곤 하는데 온라인 문서에서는 어떤 게 더 좋을지 모르겠습니다. 이 부분은 다른 분들의 의견을 기다려보겠습니다.

[2019-02-14 12:53] Ailrun commented on #27
굵은 글씨로 표기하지 않은 것은 문서에서 굵은 글씨가 다른 방식(용어의 표시가 아닌 단순 강조)로 사용되고 있어서였습니다.
다른 글씨체로 표기하는 것은 MD 에서 간단하지가 않은지라... 약간 HTML 입히면 되기는 하겠습니다만....

[2019-02-15 07:33] gnujoow commented on #23
I will close this issue and make PR for PR templete this sunday. if there is any feed back on the checklist, comment on this thread by this week.

[2019-02-15 13:01] taehwanno commented on #2
escape hatch의 번역도 여러가지로 나뉘고 있어요.

- `해결책` https://github.com/reactjs/ko.reactjs.org/pull/13#discussion_r255336377
- `탈출구` #28

2개로 나뉘는데 `해결책`으로 정리되고 있습니다.

[2019-02-15 13:04] taggon commented on #2
@taehwanno 저도 조금 더 의미가 명확한 `해결책`을 지지합니다.

[2019-02-15 13:19] taehwanno commented on #2
polyfill에 대한 번역도 정리가 할 필요가 있어보여요. (#28)
[영문 위키피디아](https://en.wiktionary.org/wiki/polyfill)에서는 아래처럼 정의되고 있습니다.

1. polyfill (원문 그대로 미번역 사용)
2. 폴리필 (발음 그대로 미번역 사용)
3. 구형 브라우저에 신형 브라우저의 기능을 제공하기 위한 플러그인인 polyfill (의미 그대로 풀어서 번역 후 같이 사용)

위 3가지 방향이 가능할 것 같아요. 3번은 좀 길다는 단점이 있어요. 아래는 3번에 대한 예시입니다.

- 원문

- 번역

제 개인적인 의견은  3 > 1 > 2 입니다. 의견 부탁드릴게요 :)

[2019-02-15 13:36] taggon commented on #2
폴리필은 구글 검색 결과 기준으로 "화살표 함수"와 거의 비슷한 수준으로 사용되고 있습니다. 한 문서에서 최초 등장시 `폴리필(polyfill)`처럼 병기해주고 이후에는 한국어만 써도 괜찮지 않을까요? 혹시 그래도 설명이 부족하다 싶으면 한국어 위키피디아 ["폴리필"](https://ko.wikipedia.org/wiki/%ED%8F%B4%EB%A6%AC%ED%95%84_(%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D)) 항목을 참조하는 것도 괜찮아 보입니다.

[2019-02-15 13:38] taehwanno commented on #2
좋아요~ 제시해주신 방향에 동의합니다.

[2019-02-15 14:38] taehwanno commented on #2
`hydrate`는 구글에 "react + hydrate"로 검색하고 한국어 웹을 살펴보니 `수화하다`로 가장 많이 번역되고 있어요.

[2019-02-15 15:00] taggon commented on #2
`수화하다`라는 말 자체도 안 익숙한데 이걸 기술 용어로 쓰기엔 무리가 있는 듯 합니다. `hydrate` 자체의 사전적 번역이 그렇다 하더라도요. 비슷한 용어로 명사형인 "**하이드레이션(hydration)**"이 있는데 화장품 업계에서 "수분 보충" 혹은 "수분 공급"이라는 의미로 사용됩니다.

참고로 미리엄 웹스터 영영 사전을 찾아보면 `hydrate`의 사전적 의미는 "수분을 흡수하도록 하다" 또는 "충분한 수분을 공급하다" 정도입니다. 해당 기능이 서버에서 _이벤트 없이_ 렌더링된 마크업에 이벤트 핸들러를 추가하기 때문에 이런 이름을 붙였다 생각합니다. 아래는 `hydrate()` 메서드의 설명에서 발췌했습니다.

[code]

따라서 저는 리액트에서 `hydrate`는 "수분을 보충하듯 이벤트를

[2019-02-15 15:18] taehwanno commented on #2
@taggon 저도 `수화하다` 자체가 와닿지 않아서 고민하고 있었어요.  말씀해주신 "이벤트를 보충하다"에 동의합니다 :)
@simsim0709 [국립국어원 우리말샘](https://opendict.korean.go.kr/dictionary/view?sense_no=1251028)에 따라 `써드파티` -> `서드파티`로 변경해야할 것 같아요.

[2019-02-15 15:35] taehwanno commented on #2
`form`도 번역하면 안되는 용어로 올려야할 것 같아요. 기존 제출된 Pull Request (#16, #28)에서 번역되지 않고 원문 그대로 사용되고 있습니다.

[2019-02-15 15:48] taehwanno commented on #2
`mount`, `unmount`를 `마운트`, `마운트 해제`로 제안드려봅니다.

[2019-02-16 02:48] Injae-Lee commented on #1
Can I get ReactDOMServer? @taehwanno

[2019-02-16 02:49] taehwanno commented on #1
@Injae-Lee thanks. you got it.

[2019-02-16 13:02] Beingbook commented on #1
could I try SyntheticEvent?

[2019-02-16 13:04] taehwanno commented on #1
@Beingbook thanks. you got it.

[2019-02-17 11:56] taggon commented on #23
The current PR template, which introduced by #25, contains broken links. If we don't have appropriate references for the items yet, it would be better to remove the links.

![image](https://user-images.githubusercontent.com/212034/52912568-ee260480-3267-11e9-857c-b3955bd9d98b.png)

[2019-02-17 11:58] ymin1103 commented on #1
Can I take {Test Utilities}?

[2019-02-17 12:08] taehwanno commented on #1
@ymin1103 you got it. thanks :)

[2019-02-17 12:12] simsim0709 commented on #2
https://github.com/reactjs/ko.reactjs.org/wiki/Translate-Glossary

위키에 확정된 용어들 정리해서 올려 두었습니다.

나머지 아직 다른 분들의 의견이나 논의가 필요한 것들 다시 표로 만들었습니다.

추가적인 의견있으면 알려주세요. 이곳에 논의되는 것들은 최대한 정리 하다록 하겠습니다.

| 용어 | 제안 | 확정 |
|---|---| --- |
| higher order component | 고차컴포넌트와 영문 병기, 혹은 영문으로 사용 |
| Portals | 원문 그대로 사용 |
| Shallow Renderer | 얕은 렌더링 |
| reconciliation  | 재조정 |
| reconciler | |
| imperative |  |
| uncon

[2019-02-17 14:32] ENvironmentSet commented on #1
Is "Forwarding Refs" available for me? I want to translate it.

[2019-02-18 00:37] simsim0709 commented on #1
@ENvironmentSet, it's not taken yet. You can do it. Thanks.

[2019-02-18 05:39] Beingbook commented on #2
'wrapper'에 대한 번역은 그냥 '래퍼'로 하면 될까요? 좋은 우리말 표현을 잘 모르겠네요.
TTA에서 검색해보니 '랩퍼'라고 표기하는 것도 보이는데 '래퍼'가 맞는 것 같네요.

[2019-02-18 07:21] noahluftyang commented on #1
Can I take `Fragments`? If it's available please assign me 😆

[2019-02-18 07:37] taehwanno commented on #1
@noahluftyang May I ask you to translate “Core Pages” first? 😄

[2019-02-18 11:58] hmu332233 commented on #1
Can I take “Rules of Hooks”?

[2019-02-18 14:41] taehwanno commented on #1
@hmu332233 May I ask you to translate “Core Pages” first?

[2019-02-18 15:49] hmu332233 commented on #1
sure.
um. I want to translate "shallow renderer".
can I take?

[2019-02-18 15:56] taehwanno commented on #1
@hmu332233 Thanks for understanding. you got it.

[2019-02-19 06:59] hiddenest commented on #1
@taehwanno Hi! Could I take "Test Renderer"?
If it's ok, please let me know :)

[2019-02-19 07:59] taehwanno commented on #1
@hiddenest Thanks. you got it.

[2019-02-19 13:17] MDJuniooor commented on #1
@taehwanno  Hi! Can I take "docs/nav.yml" ?

[2019-02-19 13:42] noahluftyang commented on #1
@taehwanno It seems that all Core Pages are assigned to somebody 😅... please let me know anything available!

[2019-02-19 13:46] BeomyeonAndrewKim commented on #1
@taehwanno Could I take 'Rules of Hooks' section?

[2019-02-19 14:23] taehwanno commented on #1
@MDJuniooor "Getting Started" please. thanks :)
@noahluftyang Then, can you translate "Tutorial"? This part is so long. 😢
@BeomyeonAndrewKim Thanks. you got it.

[2019-02-19 15:08] noahluftyang commented on #1
@taehwanno Okay, I will do 🤣

[2019-02-19 15:23] taehwanno commented on #1
@noahluftyang Ahh! Thanks. 🚀 🚀🚀🚀🚀🚀🚀

[2019-02-19 16:35] taehwanno commented on #2
`key`도 `키`보다는 번역하지 않고 유지하는게 나을거 같아요. (#12)

[2019-02-20 06:29] hiddenest commented on #1
@taehwanno oh, could I get "Fragment" too?

[2019-02-20 06:34] hiddenest commented on #1
@taehwanno ~oh, could I get "Fragment"?~ oops, @noahluftyang already said that 😂
It seems like 'Core Pages' are all assigned to someone. could we start translating 'Next Steps'?

[2019-02-20 11:58] taehwanno commented on #1
@hiddenest Yes. it's time to start "Next Steps".
They are listed in order of importance. Please choose what you want.

[2019-02-20 11:59] taehwanno commented on #2
@simsim0709 `key`를 제안했었는데 `키`가 더 나을까요? 특정 props을 의미하다보니 원문 그대로 쓰는게 좋지 않을까요?

[2019-02-20 12:02] Beingbook commented on #2
props로 사용되는 `key`는 번역을 안하는 것이 맞는 것 같습니다.

[2019-02-20 12:10] hiddenest commented on #1
@taehwanno ok, then could I take Accessibility and Portals?

[2019-02-20 12:26] taehwanno commented on #1
@hiddenest Take only one page at a time please :)

[2019-02-20 13:14] hiddenest commented on #1
@taehwanno oh, I see. then could I take Accessibility? :)

[2019-02-20 13:23] taehwanno commented on #1
@hiddenest thanks. you got it.

[2019-02-20 13:53] simsim0709 commented on #2
@taehwanno 아 제가 잘못 이해했습니다 ^^; key로 변경 했습니다.

[2019-02-21 15:02] ymin1103 commented on #1
Can I take Add React to a Website?

[2019-02-21 15:15] taehwanno commented on #1
@ymin1103 yes. you got it. thanks.

[2019-02-21 16:08] gnujoow commented on #2
note에 대해서는 주의(notice)로 해석하는게 어떨까요?

[2019-02-21 17:06] gnujoow commented on #1
Ive just made pr for installation/cdn-links

[2019-02-21 17:23] gnujoow commented on #23
@taggon I've just made pr to resolve the issue you mention.
https://github.com/reactjs/ko.reactjs.org/pull/45

[2019-02-22 05:02] #10 closed

[2019-02-22 05:05] taehwanno commented on #14
Closed by #17

[2019-02-22 05:05] #14 closed

[2019-02-22 06:23] taehwanno commented on #2
좋아요. https://github.com/reactjs/ko.reactjs.org/pull/9#discussion_r255290691

[2019-02-22 06:36] taehwanno commented on #27
textlint linter를 사용해서 일정 부분 자동화할 수 있을 것 같아요.
#42 에서 쌍점, 쌍반점과 외래어 표기, 약속된 용어에 대한 규칙(rule)을 만들어서 master에 반영해놨습니다.

[2019-02-23 01:28] OnesQuared commented on #1
I'm looking to contribute to the translation effort of react
Could I be able to take create-a-new-react-app.md?

[2019-02-23 03:38] taehwanno commented on #1
@OnesQuared thanks. you got it.

[2019-02-24 06:30] liante0904 commented on #1
@taehwanno Could I take 'Code-Splitting' section?

[2019-02-24 07:20] taehwanno commented on #1
@liante0904 thanks. you got it.

[2019-02-24 07:44] #23 closed

[2019-02-25 05:58] hiddenest commented on #1
@taehwanno Could I take "Strict Mode"?

[2019-02-25 08:01] taehwanno commented on #1
@hiddenest Yes. you got it. thanks.

[2019-02-25 09:05] simsim0709 commented on #2
아래의 용어들은 확정인 것 같아 확정에 추가 했습니다.
다른 의견 없으시면 위키에 반영하겠습니다. 😄

@taehwanno @gnujoow @Beingbook @taggon

| 용어 | 제안 | 확정 |
|---|---| --- |
| higher order component | 고차컴포넌트와 영문 병기, 혹은 영문으로 사용 | 고차 컴포넌트 |
| form | 폼 | 폼 |
| mount | 마운트 | 마운트 |
| unmount | 마운트 해제 | 마운트 해제 |
| note | 주의 | 주의 |
| wrapper | 래퍼 | 래퍼 |
|  key | key | key |
| children | 자식 | 자식

[2019-02-25 09:44] hiddenest commented on #1
@taehwanno could I take 'Web Components'?

[2019-02-25 10:00] taehwanno commented on #1
@hiddenest Go ahead! thanks :)

[2019-02-26 06:34] cadenzah commented on #2
`getDerivedStateFromProps()` 메서드와 같은 곳에서 사용되는 `derive`는 어떻게 번역을 해야 적절할까요?
- 가져온 state
- 끌어온 state
- derived state

`가져온`이라고 단순히 번역을 하자니 (`props로부터 가져온`) 이라는 문맥이 살지 않을 듯 하고... 좋은 방법이 아직 안 떠오르네요. 좋은 의견 부탁드립니다.

[2019-02-26 08:20] taehwanno commented on #2
Memoizing에 대한 번역도 논의할 수 있다면 좋을 것 같아요. https://github.com/reactjs/ko.reactjs.org/pull/12#discussion_r258092750

[2019-02-26 15:09] yumidev commented on #1
@taehwanno Can I take 'Using the Effect Hook'?

[2019-02-26 15:21] taehwanno commented on #1
@yumidev Thanks. you got it.

[2019-02-27 23:36] tesseralis commented on #1
How are things going over here? It seems like there's a bunch of PRs that have been sitting around for over two weeks. Please let me know if you need any help or advice!

[2019-02-28 05:29] simsim0709 commented on #2
| 용어 | 제안 |
| --- | --- |
| derive |  |
| memoize |  |
| snapshot | 스냅샷, 스냅숏 |

추가 했습니다.

@cadenzah @taehwanno

[2019-02-28 08:01] taggon commented on #27
별다른 의견 없으시면 일단 현재까지 작성된 내용을 기준으로 위키 문서를 작성하고 다시 추가해가는 게 어떨까 합니다.
cc @reactjs/reactjs-org-korean-translation

[2019-02-28 12:12] taehwanno commented on #27
@taggon 좋아요 :) :rocket:

[2019-03-01 06:15] hewonjeong commented on #1
@taehwanno Could I take 'Reconciliation'?

[2019-03-01 06:42] taehwanno commented on #1
@hewonjeong Thanks. you got it.

[2019-03-01 18:26] ENvironmentSet commented on #2
[#13](https://github.com/reactjs/ko.reactjs.org/pull/13/files#diff-5ff76597e6c547982df2b2e42f2f83c0R199) 에서는 `Ref forwarding`을 `Ref 전달하기` 로 번역되었습니다.

[2019-03-01 18:29] ENvironmentSet commented on #2
[#55](https://github.com/reactjs/ko.reactjs.org/pull/55/files#diff-6fc584657241b5ee0532a533ed47aca6R3) `Code-Splitting` 에 대한 논의도 필요해 보입니다.
제가 보기에는 `코드 쪼개기` 정도로 번역하여도 문제가 없어 보입니다.

[2019-03-02 15:00] simsim0709 commented on #27
@taggon 네 저도 좋습니다.

[2019-03-03 09:44] hewonjeong commented on #2
reconciliation 제안 그대로 `재조정`으로 번역해도 될 것 같습니다.
[reconciliation 문서](https://reactjs.org/docs/reconciliation.html) 읽어보면 이전 트리와의 추후 트리의 차이점을  찾아 갱신해주는 과정인데 재조정보다 나은 단어가 안떠오르네요^^;

[2019-03-03 13:35] taehwanno commented on #2
@ENvironmentSet 제 생각에는 1. 원문 그대로 표기 2. `코드 스플리팅` 3.`코드 나누기` 4.`코드 쪼개기` 순서대로 괜찮은 것 같아요. #12 에서는 이미 원문으로 표기해달라고 리뷰를 해드린 상황이에요. 변경된다면 따로 변경하도록 할게요.

[2019-03-03 15:45] taggon commented on #2
split은 ‘분할’로 번역되는 걸 종종 본 기억이 있습니다. ‘코드 분할’은 어떤가요?

[2019-03-03 15:50] taggon commented on #2
Reconcilliation = 재조정
에 한 표 더합니다.

[2019-03-04 01:39] gnujoow commented on #27
@taggon 좋습니다. pr template에도 추가하도록 할게요
cc @reactjs/reactjs-org-korean-translation

[2019-03-04 03:16] taggon commented on #27
https://github.com/reactjs/ko.reactjs.org/wiki/Best-practices-for-translation
위키 페이지를 만들었습니다. 추가할만한 항목이 있으면 따로 이슈를 만들어 진행하면 좋을 것 같습니다.

위키 페이지를 만들었으므로 이슈 닫겠습니다.

[2019-03-04 03:16] #27 closed

[2019-03-04 12:46] taehwanno commented on #2
그렇네요. 구글 검색으로 확인했습니다. `코드 분할`에 동의해요.

[2019-03-04 15:12] BeomyeonAndrewKim commented on #1
Could I take 'Optimizing Performance'? I'm waiting for review #63. But I hope to take that :)

[2019-03-04 23:35] taehwanno commented on #1
@BeomyeonAndrewKim thanks. you got it.

[2019-03-05 08:05] hiddenest commented on #2
Glossary에 적합한지는 모르겠습니다만, 아래와 같은 경우에 원문의 포맷을 그대로 유지하는 것이 좋을까요?

ex)
원문: 아래와 같이 영역별로 엔터

번역: 두 개가 합쳐져 있음

[2019-03-05 14:48] ENvironmentSet commented on #2
@taehwanno 제가 보기에도 `코드 분할`이 적합해 보입니다.

[2019-03-06 05:11] hyunalee419 commented on #1
@taehwanno Could I take 'Uncontrolled Components'?

[2019-03-06 05:13] taehwanno commented on #1
@hyunalee419 thanks. you got it.

[2019-03-06 05:18] taehwanno commented on #2
@taggon @ENvironmentSet 알겠습니다. 그럼 `코드 분할`로 리뷰할게요 :)

[2019-03-06 16:03] taehwanno commented on #2
@hiddenest 가독성을 위한 의도적인 줄바꿈이라면 번역된 한글 문장의 길이에 따라 포맷을 유지하는게 좋을 것 같아요.

[2019-03-07 14:30] simsim0709 commented on #2
3가지 용어 추가했습니다.

| 용어 | 제안 | 확정 |
| --- | --- | --- |
| Ref forwarding | Ref 전달하기 | |
| Code-Splitting | 코드 분할 | 코드 분할 |
| Reconcilliation | 재조정 | 재조정 |

그리고 리마인드 차원에서 의견이 나왔지만 아직 확정되지 않은 용어들입니다.

| 용어 | 제안 | 확정 |
| --- | --- | --- |
| Shallow Renderer | 얕은 렌더링 |
| reconciler | |
| imperative |  |
| uncontrolled component | 비제어 컴포넌트  |
| controlled component | 제어 컴포넌트 |
| building block | * 빌딩 블록 (

[2019-03-14 07:17] taggon commented on #2
`attribute`에 관한 번역은 있는데 `property` 또는 `properties`에 대한 번역이 없는 것 같습니다. 둘 다 `속성`으로 번역할 수 있지만 의미가 조금 다른 만큼 `attribute`처럼 `property`도 `프로퍼티`로 번역하는 건 어떨까요?

[2019-03-14 14:11] taehwanno commented on #2
@taggon 저도 이거 고민했었는데 좋은 방향이라 생각해요. 동의합니다.

[2019-03-14 14:19] taehwanno commented on #1
- @Jravvit (Lists and Keys)
- @cadenzah (React.Component)
- @chayeoi (Lifting State Up)
- @yesjin-git (Thinking in React)
- @noahluftyang (Tutorial)

Hi. This is friendly ping just to check out your translation progress during the last 3~4 weeks for “Core Pages” section. How is it goining? If you need help, please tell me :slightly_smiling_face:

안녕하세요. "Cord Pages" 페이지 번역을 지원하고 3~4주가 지난 시점에서 각자 맡

[2019-03-14 15:06] simsim0709 commented on #2
@taggon 저도 동의 합니다. 이 부분도 추가 해놓을게요.

[2019-03-15 00:45] hIkipooh commented on #1
Hi, permission to translate < State and Lifecycle (@rlagksruf16) #49  >?

[2019-03-15 01:20] taehwanno commented on #1
@hIkipooh That page has assigned translator. I will check the progress of the assigned translator and let you know if you can translate. If you want to translate another page, that's good too.

@rlagksruf16 Could you tell us about the "State and Lifecycle" translation?

[2019-03-15 02:37] hIkipooh commented on #1
@taehwanno Oh, my bad for not reading thoroughly, I didn't mean to intervene. How about JSX In Depth?

[2019-03-15 03:23] taehwanno commented on #1
@hIkipooh thanks. you got it.

[2019-03-19 08:15] phoebejhhong commented on #1
Hi, @taehwanno I'd like to take `Context`, please!

[2019-03-19 12:04] yoeubi commented on #1
@taehwanno can i get `Fragments` page to translate?

[2019-03-19 14:03] yesjin-git commented on #1
이번 주 내로 완성하려고 합니다!

[2019-03-20 05:59] shiincs commented on #1
Hi, @taehwanno. I want to translate `React Without JSX`.

[2019-03-20 06:47] taehwanno commented on #1
@shiincs thanks. you got it.

[2019-03-22 03:43] Jravvit commented on #1
안녕하세요! 다음주까지 완성하는게 목표입니다!

[2019-03-22 12:16] sukjae opened #74 "`$ yarn check-all` command modifies some files"
Hi.

I followed instruction and had test as mentioned.

but, after i run `yarn check-all`, it automatically modifies two files and result to fail for textlint while committing it.

here is my logs...

[code]

[code]

[code]

[code]

[code]

[2019-03-22 12:23] sukjae commented on #74
if i run `git commit ` without `yarn check-all`, doesn't cause any problem :(

[code]

[2019-03-23 01:23] cadenzah commented on #1
Very sorry for the late reply. I'll complete the translation until following week.

[2019-03-23 04:48] sukjae commented on #1
hi. i would like to take 'Typechecking With PropTypes'

[2019-03-23 06:44] taehwanno commented on #1
@sukjae thanks. you got it.

[2019-03-26 05:34] sukjae commented on #1
I would like to take

[2019-03-26 12:42] taehwanno commented on #1
@sukjae thanks. you got it.

[2019-03-27 06:03] sukjae commented on #1
I would like to take

[2019-03-27 07:24] taehwanno commented on #1
@sukjae thanks. you got it. 🚀🚀🚀

[2019-03-27 07:55] hapumee commented on #1
Hi, this is Angela Min.
I'm gonna take "HOOKS > Hooks API Reference" part in a sequence : )

[2019-03-27 08:13] sukjae commented on #1
I would like to take

[2019-03-27 09:18] simsim0709 commented on #2
| 용어 | 제안 | 확정 |
| --- | --- | --- |
| Hook(s) | Hook |

Hook은 번역하지 않는게 맞는거 같은데, 의견 있으신가요?
그리고 Hook, Hooks 모두 Hook으로 통일하는게 어떨까 싶은데요.
@gnujoow @taehwanno @hg-pyun @taggon

[2019-03-27 09:21] gnujoow commented on #2
@simsim0709 Hook으로 통일에 동의합니다.

[2019-03-27 09:35] taehwanno commented on #1
@hapumee @sukjae thanks. you all got it.

[2019-03-29 02:45] hapumee commented on #1
FYI, "Hooks > Hooks API Reference" is in progress about 1/3.

[2019-03-29 09:12] taehwanno commented on #2
@simsim0709 저도 Hook에 동의합니다 :)

[2019-04-01 03:06] simsim0709 commented on #2
https://github.com/reactjs/ko.reactjs.org/wiki/Translate-Glossary 에 Hook 추가 했습니다.

[2019-04-02 03:29] jiwonkirn commented on #1
Hi :) Could I take `ADVANCED GUIDES > Static Type Checking` part?

[2019-04-02 07:24] taehwanno commented on #1
@jiwonkirn thanks. you got it.

[2019-04-02 10:55] hapumee commented on #1
I finished the draft and did pull request. ("Hooks > Hooks API Reference")
And I'm gonna take "Advanced Guides > Portals" part.

[2019-04-02 11:08] taehwanno commented on #1
@hapumee thanks. you got it :)

[2019-04-04 04:29] ejolie commented on #1
Hello, could I translate `FAQ > Component State` part?

[2019-04-04 07:36] taehwanno commented on #1
@ejolie thanks. you got it.

[2019-04-04 08:34] sdu6342 commented on #1
Hello!
I would like to take  `FAQ > Passing Functions to Components`

[2019-04-04 08:38] Hatvan commented on #1
Hello!
could i take  Passing Functions to Components part?

[2019-04-04 08:46] dl0312 commented on #1
Hello, could I translate `Virtual DOM and Internals` part?

[2019-04-04 08:49] taehwanno commented on #1
@sdu6342 @dl0312 thanks. you all got it.
@Hatvan That page is already assigned. could you please translate another page?

[2019-04-04 08:59] taewo commented on #1
Hi~! Could i take **Error Boundaries** part?

[2019-04-04 09:00] taehwanno commented on #1
@taewo thanks. you got it.

[2019-04-04 17:50] seanjun21 commented on #1
Hello, I'd like to contribute to `Hooks FAQ`

[2019-04-04 18:10] yoeubi commented on #1
Hello, can i take `Integrating with Other Libraries` page?

[2019-04-05 01:11] taehwanno commented on #1
@seanjun21 @yoeubi thanks. you all got it.

[2019-04-05 07:48] hapumee commented on #1
I finished the draft and did pull request. (`"Advanced Guide > Portals"`)
And I'm gonna take `"FAQ > Versioning Policy"` part.

[2019-04-05 08:48] taehwanno commented on #1
@hapumee thanks. you got it. 🚀 🚀

[2019-04-05 14:07] hg-pyun opened #91 "Translate READEME.md"
It's not necessary, but Is it okay translate `README.md` as well?

[2019-04-05 14:13] taehwanno commented on #91
Yepp :)

- https://github.com/reactjs/ru.reactjs.org
- https://github.com/reactjs/uk.reactjs.org

[2019-04-05 15:09] taehwanno commented on #74
Thanks for reporting this. this is caused by `yarn generate-ids` in `yarn check-all`. ids are generated by a script in a header that does not have an explicit id.

I submit the pull request for this issue at reactjs/reactjs.org#1905

[2019-04-06 02:32] hg-pyun commented on #91
@taehwanno Thank you :), Could I get the page?

[2019-04-06 04:31] taehwanno commented on #91
Sure!

[2019-04-08 04:50] #91 closed

[2019-04-09 08:27] rlagksruf16 commented on #1
Really really sorry for the late reply about the translation. I had an personal issue going on these days and about the translation, I have a little question about it.
 I did the translation already but it is my first time to do the translation project so I am stuck with pull request part. When I do the translation do I have to erase all the English part and the code part or do I just leave the En

[2019-04-09 09:31] taehwanno commented on #1
@rlagksruf16 It's okay. 😃 Erase all English except codes.
I recommend read below guidelines and [the official Korean translation site](https://ko.reactjs.org/docs/hello-world.html).

- [공통 스타일 가이드](https://github.com/reactjs/ko.reactjs.org/blob/master/UNIVERSAL-STYLE-GUIDE.md)
- [모범사례](https://github.com/reactjs/ko.reactjs.org/wiki/Best-practices-for-translation)
- [용어 확인](https://github.com/react

[2019-04-10 09:24] hapumee commented on #1
I finished the draft and did pull request. (`"FAQ > Versioning Policy"`)

[2019-04-10 17:19] ReturnReason commented on #1
Hello, could I take Contributing - **'How to Contribute'** part.
If it's difficult because of low priority, can I take Markdown page?

[2019-04-11 01:12] taehwanno commented on #1
@ReturnReason MarkdownPage, please :)
When I just look over [`MarkdownPage`](https://github.com/reactjs/ko.reactjs.org/blob/master/src/components/MarkdownPage/MarkdownPage.js), I think we don't need any translation. but can you check this?

[2019-04-11 03:39] gnujoow opened #94 "PR request with no-response"
there are some PR requests with a month long no response from PR author.

For effective project progress and participation of other participants, I suggest to make rule dealing with un-managed reviewed pull requests.

@reactjs/reactjs-org-korean-translation

[2019-04-12 02:19] hg-pyun commented on #94
If we don't get an answer, how do you transfer it to someone else?

[2019-04-12 02:55] hapumee commented on #1
If `"CONTRIBUTING > Design Principles"` has not been assigned, I'll take it.

[2019-04-12 03:24] taehwanno commented on #1
@hapumee thanks. you got it.

[2019-04-12 03:50] taehwanno commented on #94
It's time to decide how to assign other people about no response pull request for a long time.

if we assign them to other translators, the translator that is not a maintainer needs to fork the pull request author's repository and submits a new pull request.
(e.g. need to fork `taehwanno/ko.reactjs.org`. not a `reactjs/ko.reactjs.org`)

I think it's better to maintain review threads in the already

[2019-04-12 03:57] simsim0709 commented on #94
I agree with @taehwanno. We may have another label for that something like `no-response`. Then, we can continue on the unfinished translation.

[2019-04-17 04:39] simsim0709 commented on #2
| 용어 | 제안 | 확정 |
| --- | --- | --- |
| effect(s) | effect |  |

https://github.com/reactjs/ko.reactjs.org/pull/89/files#diff-c38ef803fe7e7fc860f577c958440873L116에 보면 useEffect를 설명 할 때, effect라는 단어가 고유 단어처럼 사용되고 있습니다. 이렇게 사용되는 부분이 많은데 이 단어는 번역하지 않는게 어떨까 합니다.
@gnujoow @taehwanno @hg-pyun @taggon

[2019-04-17 11:15] chayeoi commented on #1
@taehwanno 다음 주 초까지 번역 완료 예정입니다~

[2019-04-17 15:33] taehwanno commented on #2
@simsim0709 좋습니다. 작용, 부작용의 작용도 가능할 것 같지만 hooks의 `use` 뒤에 사용되는 단어가 특정 맥락을 지닌 고유 단어처럼 사용되는 경우가 많기에 번역하지 않고 그대로 effect로 가는거에 동의합니다.

[2019-04-18 15:00] taehwanno commented on #94
I will first try this decision starting at #18

[2019-04-22 05:35] hIkipooh commented on #1
@taehwanno I'm waiting for my PR to be reviewed, but in the meantime can I take components > ErrorDecoder ?

[2019-04-22 05:58] taehwanno commented on #1
@hikipooh yes. you got it. thanks.

[2019-04-22 07:47] hapumee commented on #1
FYI.
I thought I could be able to set to translation work for `"CONTRIBUTING > Design Principles"` from the last week.
However, somethings came up for my development (in the company) so I haven't been started yet.
I'm gonna initiate as soon as possible.

[2019-04-22 11:34] taehwanno commented on #1
@hapumee Thank you for letting us know. I also have a very busy day lately :cry: 🚀

[2019-04-23 03:54] simsim0709 commented on #2
"effect" 관련 기타 의견 없어서 "effect"로 확정하겠습니다.

[2019-04-24 01:04] Hatvan commented on #1
I'm sorry I can not tell you for a long time.
I think I am too inexperienced to translate.
FAQ> Assign File Structure to others
Sorry.

[2019-04-24 07:21] taehwanno commented on #1
@Hatvan It's okay. you don't need to sorry for us :)
Please feel free to ask us if you would like to participate in the translation again. thanks.

[2019-04-24 21:02] tesseralis opened #104 "Add DocSearch suppport"
Hi there!

Congrats on almost finishing the Korean translation of the React docs. Before releasing, we have one more task to do. We need to change the [DocSearch API key](https://github.com/reactjs/es.reactjs.org/blob/ed07fa53dc9ab7950e630900f7da3a7c821d63a6/src/components/LayoutHeader/DocSearch.js#L25) . One of the maintainers needs to [sign up for DocSearch](https://community.algolia.com/docsear

[2019-04-25 03:27] taehwanno commented on #104
Thanks. I signed up. I will change the DocSearch API Key.

[2019-04-27 11:50] highspirit7 commented on #1
I would like translate FAQ : File Structure!!

[2019-04-27 12:28] taehwanno commented on #1
@highspirit7 thanks. you got it.

[2019-04-28 09:50] hg-pyun commented on #104
I'll delegate it to @taehwano. Thank you.

[2019-05-02 08:49] #104 closed

[2019-05-07 05:04] hapumee commented on #1
I'm so sorry, but there might be a typo on the page below.
https://ko.reactjs.org/docs/react-api.html
I think that 'ㄴㄴ' sholud be removed.

[2019-05-09 12:41] Kim-Ki-Soo commented on #1
Hello. I want to contribute something like translating in Korean
Could you give me some pages to translate in Korean?

[2019-05-09 12:43] Kim-Ki-Soo commented on #1
Hello. I want to contribute something like translating in Korean.
Could you give me some pages to translate in Korean?
Category 'How to Contribute' looks good but anything be okay.

[2019-05-09 13:18] taehwanno commented on #1
@hapumee Thanks for reporting this. could you create an issue for this?
@Kim-Ki-Soo thanks. you got it (How to Contribute)

[2019-05-10 04:58] hapumee commented on #1
@taehwanno Yes, sure. I didn't know the process well. I'm gonna make an issue. : )

[2019-05-10 05:00] hapumee opened #115 "typo in 'React 최상위 API' page"
I'm so sorry, but there might be a typo on the page below.
(on Chrome, It doesn't show up on IE.)
https://ko.reactjs.org/docs/react-api.html
I think that 'ㄴㄴ' should be removed.

[2019-05-13 02:19] #115 closed

[2019-05-13 02:20] simsim0709 commented on #115
Thanks @hapumee 👍

[2019-05-13 11:32] hoony2520 commented on #1
I want to attribute this project. Can I translate Components > LayoutFooter?

[2019-05-13 12:15] taehwanno commented on #1
@hoony2520 thanks. you got it.

[2019-05-14 07:12] hapumee opened #116 "suggestion for '것입니다' instead of '겁니다' in a page of '고급 안내서 > ES6없이 사용하는 React'"
I'm so sorry to say that, but I think that it might be better '것입니다' instead of '겁니다' in a page below.
https://ko.reactjs.org/docs/react-without-es6.html

How do you guys think about this?

[2019-05-14 07:20] #116 closed

[2019-05-15 06:34] Kim-Ki-Soo commented on #1
Sorry for checking late.
I'll contribute soon.
Thank you.
-----Original Message-----
From: "Taehwan Noh"<notifications@github.com>
To: "reactjs/ko.reactjs.org"<ko.reactjs.org@noreply.github.com>;
Cc: "Kim-Ki-Soo"<revolutionpink@naver.com>; "Mention"<mention@noreply.github.com>;
Sent: 2019-05-09 (목) 22:18:18 (GMT+09:00)
Subject: Re: [reactjs/ko.reactjs.org] Korean Translation Progress (#1)

@hapume

[2019-05-16 05:32] Kimguyeop commented on #1
Can I translate Codebase-Overview?

[2019-05-16 09:43] taehwanno commented on #1
@Kimguyeop thanks. you got it.

[2019-05-18 15:57] baekjuwon commented on #1
Excuse me, I want to translate something.
I want Implementation Notes part but anything can okay for translating.

[2019-05-18 16:36] taehwanno commented on #1
@baekjuwon thanks. you got it.

[2019-05-21 03:51] baekjuwon commented on #1
Excuse me, I'm translating 'Implementation Notes' part.
Should I leave the code as it was?

[2019-05-21 07:44] taehwanno commented on #1
@baekjuwon Yes. please check out below the guidelines.

- [공통 스타일 가이드](https://github.com/reactjs/ko.reactjs.org/blob/master/UNIVERSAL-STYLE-GUIDE.md)
- [모범사례](https://github.com/reactjs/ko.reactjs.org/wiki/Best-practices-for-translation)
- [용어](https://github.com/reactjs/ko.reactjs.org/wiki/Translate-Glossary)

[2019-05-22 04:17] simsim0709 commented on #94
I'll try #76

[2019-05-22 11:34] hapumee commented on #1
I did pull request for `"CONTRIBUTING > Design Principles"`. (#124)

[2019-05-23 06:54] simsim0709 commented on #94
#76 is done.

I'll try #46

[2019-05-24 03:19] taehwanno commented on #94
I added `no long-term response` label for no response pull request over 2 weeks.

[2019-05-24 03:36] taehwanno commented on #74
Resolved by 066479b. I will close this.

[2019-05-24 03:36] #74 closed

[2019-05-24 03:58] simsim0709 commented on #94
#46 done.

I'll try #47

[2019-05-29 03:57] taehwanno commented on #94
I will try #109

[2019-06-09 23:16] hg-pyun opened #139 "Search does not works"
![image](https://user-images.githubusercontent.com/10627668/59165513-f62bec00-8b57-11e9-89ce-e5e11bfb460c.png)
Search feature does not works. Maybe API?

[2019-06-10 03:53] #139 closed

[2019-06-10 03:54] taehwanno commented on #139
Thanks for reporting this. I fixed this 💯

[2019-06-25 09:29] hapumee opened #146 "typo in 'create a new react app' page"
I'm so sorry to mention about this, but the page 'create-a-new-react-app.html' doesn't show up whole contents of it on Chrome and IE also. (Part of the contents show up on the page)
I think that it's because of script tag(<script>) below.

![line_25](https://user-images.githubusercontent.com/1381259/60086697-8718df00-9776-11e9-853b-75be4b93a3a6.png)

It might be translated "<script>" tag instead o

[2019-06-25 15:31] taehwanno commented on #146
Ahhhhhhhhh... I will fix this. thanks for reporting this 👍

[2019-06-25 15:43] #146 closed

[2019-08-07 09:43] hg-pyun opened #161 "Review remain pull request"
The remaining PR reviews are not being reviewed for a long time. Please give us your opinion on what to do from now on.

[2019-08-09 10:42] 1more opened #163 "Wrong translation in docs/hooks-state.html"
Hi,
I am a beginner of react-hooks and I really appreciates for your translation works.

I found a small mistranslation in https://reactjs.org/docs/hooks-state.html#declaring-a-state-variable page.

- English version
[code]

- Korean version
[code]

`the state doesn't have to be an object` is translated as `객체를 가질 수 없고` for now,
but `객체일 필요가 없고` could be more correct one for this case.

Thanks.

[2019-08-10 02:38] taehwanno commented on #163
Thanks for reporting this. the suggestion is fine but I prefer to `객체일 필요는 없고`.
can you fix this and make some pull request?

[2019-08-26 16:32] #163 closed

[2019-09-04 14:45] taehwanno commented on #161
Sorry for the late response. 😢 I think my personal work will be done at the end of September. I will be able to participate actively in October.

[2019-09-04 16:12] taehwanno commented on #1
The translation list is updated. if you want to translate any section, please comment to this :)

- Need to additional translation
  - Test Renderer (API Reference in Core Pages)
  - docs/nav.yml (Navigation in Core Pages)
- Newly added pages
  - Testing Overview (Testing)
  - Testing Recipes (Testing)
  - Testing Environments (Testing)

[2019-09-04 16:12] taehwanno commented on #1
- Using the Effect Hook (@yumidev)
- Building Your Own Hooks (@taggon)
- Hooks FAQ (@seanjun21)
- Error Boundaries (@taewo)
- Forwarding Refs (@ENvironmentSet)
- Higher-Order Components (@gnujoow)
- Styling and CSS (@sukjae)
- ErrorDecoder (@hIkipooh)
- MarkdownPage (@ReturnReason)

Hi. This is friendly ping just to check out your translation progress. How is it going? If you need help, please tel

[2019-09-05 05:02] seanjun21 commented on #1
@taehwanno 현재 Hooks FAQ를 맡아서 하고 있습니다. 일단 Table of Contents를 끝내고, 하루에 한두 문단씩 일 안하는 짜투리 시간에 하고 있는데 솔직히 FAQ라 그런지 좀 양이 많네요. 번역을 해야하는 단어랑 그냥 써야하는 단어랑 구분하는게 좀 오래 걸리는것 같습니다. 그래도 초반에 비해서는 중복 단어가 많아져서 점점 속도가 올라가고 있습니다. 최대한 빨리 할 수 있도록 할게요.

[2019-09-05 16:01] taehwanno commented on #1
@seanjun21 꾸준히 해주셔서 감사합니다. 급하게 해주시진 않으셔도 되요! ㅎㅎ

[2019-09-06 00:08] hIkipooh commented on #1
@taehwanno 한동안 정신이 없어서 JSX in Depth PR 리뷰 사항도 확인 못햇네요 ㅠ 우선 PR 리뷰로 받은 수정 사항 부터 이번주 내로 마무리 하고 ErrorDecoder 작업을 진행하고 싶은데 괜찮을까요?

[2019-09-06 18:31] Violet-Bora-Lee commented on #27
안녕하세요. 자바스크립트 튜토리얼 한글화 프로젝트에서 메인테이너로 활동하고있는 이보라입니다. 리액트 공식문서의 위키를 참고하여 저희 프로젝트의 위키를 작성하게되어, 알려드리고자 이렇게 코멘트를 답니다. KIGO번역스타일 가이드를 참고하여 몇가지 사항을 더 추가하였고, 약간의 수정도 해보았습니다.

링크: https://github.com/javascript-tutorial/ko.javascript.info/wiki/%EB%B2%88%EC%97%AD-%EB%AA%A8%EB%B2%94-%EC%82%AC%EB%A1%80

혹시라도 불편하시다면 직접링크거는것으로 대체하겠습니다. 감사합니다.

[2019-09-07 03:07] taehwanno commented on #1
@hIkipooh 괜찮습니다 :)

[2019-09-21 03:36] PARK-JONGSEOK opened #171 "typo in 'Hello World' page"
- 문제 페이지 : https://ko.reactjs.org/docs/hello-world.html
- Explorer에서는 정상적으로 표시되지만, Chrome에서는 이상하게 표시됩니다. :cry:
- Explorer
  ![image](https://user-images.githubusercontent.com/47925447/65367406-10ec2180-dc6c-11e9-86bb-bb9207dba775.png)
- Chrome
  ![image](https://user-images.githubusercontent.com/47925447/65367408-1a758980-dc6c-11e9-9403-c1215d093a4c.png)

[2019-09-21 16:26] #171 closed

[2019-09-21 16:27] taehwanno commented on #171
제보해주셔서 감사합니다. #172 에서 해결되었습니다 :)

[2019-09-26 16:15] koDaegon commented on #1
Hi @taehwanno  :smile:  I would like to translate `Testing Overview page`. Please let me know if it is possible

[2019-09-29 08:15] taehwanno commented on #1
@koDaegon Sorry for late response :cry: you got it. thanks

[2019-10-03 07:42] Yohan-Kim2 commented on #1
@taehwanno 안녕하세요 ! Components의 CodeExample 페이지 번역하고싶은데 가능할까요???

[2019-10-03 09:25] taehwanno commented on #1
@Yohan-Kim2 가능하며 배정해놨습니다. 감사합니다 :)

[2019-10-16 10:32] gnujoow commented on #161
As personal schedule is over, I can participate more actively from this month.

[2019-10-16 10:34] gnujoow commented on #1
@taehwanno 그동안 바빠서 참여를 못하고 있엇네요 혹시 할당되지 않은 문서나 할당되었는데 오랬동안 PR이 올라오지 않은 문서가 정리된것이 있을까요?

[2019-10-16 11:28] taehwanno commented on #1
@gnujoow 넵 알겠습니다 ㅎㅎ

[2019-10-20 11:22] Yohan-Kim2 commented on #1
@taehwanno 번역 작업이 이번이 처음이라서 그러는데, CodeExample에 파일의 기능을 한글로 설명만 하면 되는 건가요? 추가로 달아야할 주석은 없나요?

[2019-10-28 09:06] cdsleaf commented on #1
안녕하세요 Testing Recipes 페이지 번역 하려 하는데 배정 받을 수 있을까요?

[2019-10-28 09:11] taggon commented on #1
@cdsleaf 배정해드렸습니다. :)

[2019-10-28 14:01] BeomYoung commented on #1
안녕하세요! @taehwanno
testing-environments.md 페이지 번역하고 싶은데 가능할까요??

[2019-10-28 14:37] toy9910 commented on #1
안녕하세요~ @taehwanno
CodeEditor.js 페이지 번역하려고 하는데 배정 받을 수 있나요?

[2019-10-28 14:51] toy9910 commented on #1
안녕하세요~ @taehwanno
test-renderer.md, CodeEditor.js 페이지 번역하려고 하는데 배정 받을 수 있나요?

[2019-10-28 15:05] rkdmf1026 commented on #1
안녕하세요. @taehwanno
nav.yml 페이지 번역하려고 하는데 배정 받을 수 있나요?

[2019-10-28 15:38] toy9910 commented on #1
제 과제도 배정해드릴게요
-----Original Message-----
From: "rkdmf1026"<notifications@github.com>
To: "reactjs/ko.reactjs.org"<ko.reactjs.org@noreply.github.com>;
Cc: "toy9910"<toy9910@naver.com>; "Comment"<comment@noreply.github.com>;
Sent: 2019-10-29 (화) 00:05:04 (GMT+09:00)
Subject: Re: [reactjs/ko.reactjs.org] Korean Translation Progress (#1)

안녕하세요. @taehwanno
nav.yml 페이지 번역하려고 하는데 배정 받을 수 있나요?
—
You are

[2019-10-28 16:03] taehwanno commented on #1
@Yohan-Kim2 말씀이라도 감사드립니다. JavaScript를 잘 모르신다면 번역에 참여하기에는 제한될 거 같아요 ㅎㅎ
@BeomYoung 배정해드렸습니다.
@toy9910 Test Renderer 부탁드릴게요. 한 명당 하나의 작업만 배정하고 있기에 배정받으신 섹션의 번역을 완료하시고 PR 제출 후에 다른 섹션을 요청해주세요.

[2019-10-28 16:09] taehwanno commented on #1
The docs about concurrent mode (experimental) are added. I updated pull request description. If you want to translate any section, please comment to this :)

- Concurrent Mode (Experimental)
  - [Introducing Concurrent Mode](https://reactjs.org/docs/concurrent-mode-intro.html)
  - [Suspense for Data Fetching](https://reactjs.org/docs/concurrent-mode-suspense.html)
  - [Concurrent UI Patterns](http

[2019-10-29 00:37] Yohan-Kim2 commented on #1
I'd like to be assigned to Introducing Concurrent Mode

[2019-10-29 07:17] junsikshim commented on #1
I'd like to volunteer for translating Adopting Concurrent Mode.

[2019-10-29 14:10] taehwanno commented on #1
@Yohan-Kim2 @junsikshim Thanks. you all got it.

[2019-11-02 06:19] DDOLDDOL commented on #1
@taehwanno I'd like to contribute this project by translating Concurrent Mode API Reference. Could I?

[2019-11-02 08:48] Beingbook commented on #1
@taehwanno // could I take `Concurrent UI Patterns (Experimental)`?

[2019-11-02 09:10] Yohan-Kim2 commented on #1
@taehwanno I translated to korean for Introducing Concurrent Mode, so how can  I commit this repository?

[2019-11-02 09:25] purelledhand commented on #1
@Yohan-Kim2 you can read the contribution guideline here🙏
https://github.com/reactjs/ko.reactjs.org/blob/master/README.md

[2019-11-03 11:24] taehwanno commented on #1
@DDOLDDOL @Beingbook Thanks. you all got it.
@Yohan-Kim2 Please see the README as @purelledhand said.
@purelledhand Thanks :)

[2019-11-05 16:09] Beingbook commented on #2
`stable release`는 따로 정해진게 없을까요?

[2019-11-06 17:04] taehwanno commented on #2
[Concurrent UI Patterns (Experimental)](https://ko.reactjs.org/docs/concurrent-mode-patterns.html) 페이지 번역을 하시다가 질문하신 것 같네요 ㅎㅎ

검색을 해봤을 때 `stable`은 `안정`, `안정된`으로 번역을 많이 하시는 것 같아요. 또한 `release`는 동사적 의미가 들어간 `배포`보다는 `배포판`, `배포 버전`이 나아보이구요. 개인적으로는 아래처럼 가는게 어떨까 싶네요 ㅎㅎ

- `stable release` : `안정된 배포 버전`, `안정된 배포판`
- `prelease` : `시험 배포 버전`, `시험 배포판`

[2019-11-19 09:31] gnujoow commented on #94
following items are newly added.
- [ ] #121
- [ ] #123

[2019-11-19 14:33] taehwanno commented on #94
I will try #121

[2019-11-22 05:11] qudwn1114 commented on #1
components에 code editor 번역하고싶습니다

[2019-11-22 15:06] taehwanno commented on #1
@qudwn1114 배정해드렸습니다.

[2019-12-04 04:43] junsikshim commented on #1
'Suspense for Data Fetching' 번역하고 싶습니다.

[2019-12-04 04:54] taehwanno commented on #1
@junsikshim 배정해드렸습니다 :)

[2019-12-22 00:16] junsikshim commented on #1
요즘 좀 바빠져서 'Suspense for Data Fetching' 번역을 못하고 있습니다.
1~2개월 정도 이후에나 가능할 것 같은데
먼저 가능하신 분에게 배정하는 게 어떨까 싶습니다~

[2019-12-22 01:47] cadenzah commented on #1
@junsikshim 제가 해보고싶습니다~

[2019-12-22 07:19] taehwanno commented on #1
@junsikshim 미리 말씀해주셔서 감사합니다. @cadenzah 님에게 배정해드릴게요!
@cadenzah 배정해드렸습니다. 감사합니다 :)

[2020-01-22 14:26] anthonyminyungi commented on #1
공식 문서를 보고 공부하던 중 Using Effect Hook을 읽으려는데 번역이 안 돼있더라구요. 글을 보니 맡으신 분이 있는거 같긴 한데 제가 시간 날때마다 번역을 하고 있어 1/3 정도 작성되었고 계속 작성할 생각인데 제가 맡아도 될까요?

[2020-01-22 15:35] taehwanno commented on #1
@anthonyminyungi 기존에 번역 배정되신 분께 한번 물어보고 말씀드릴게요!
@yumidev Using the Effect Hook의 번역이 얼마나 진행 중 이실까요? 혹시 진행 중이지 않으시다면 다른 분에게 넘기려는데 괜찮을까요?

[2020-01-29 14:39] yumidev commented on #1
@taehwanno 안녕하세요 사실 번역을 상당부분 해둔 상태여서 마무리 지어서 풀리퀘스트를 올렸습니다. 오랜 기간 활동이 없어 죄송합니다. 풀리퀘스트 이후의 리뷰 순서들을 차근차근 따라가서 머지하도록 하겠습니다. @anthonyminyungi, 괜찮으시다면 리뷰를 좀 부탁드려도 될까요? https://github.com/reactjs/ko.reactjs.org/pull/205

[2020-03-04 13:24] hg-pyun commented on #161
@taehwanno @gnujoow
The Pull Request is currently being left unattended. Maintainers are too busy to manage. Why don't you lower the limit with an approve?

[2020-03-05 01:23] taehwanno commented on #161
@hg-pyun yes :cry: I agree.

[2020-04-07 16:47] taehwanno commented on #1
안녕하세요! 각 번역 페이지를 배정받으신 뒤 꽤 기간이 지난 후에 아직 풀 리퀘스트가 제출되지 않은 분들께 멘션 드려요 ㅎㅎ 아직 번역이 완료되지 않았다면 완료 후 제출해주시면 감사하겠습니다. 만약 개인 일정상 바쁘셔서 부담스러우시다면 지금까지 했던 번역이라도 올려주시면 계속 이어받아서 진행하도록 할게요. 번역하지 않으셨더라도 다른 분에게 넘기셔도 괜찮습니다! 진행 상황을 코멘트로 공유 부탁드릴게요.

- Building Your Own Hooks (@taggon)
- Hooks FAQ (@seanjun21)
- Error Boundaries (@taewo)
- Forwarding Refs (@ENvironmentSet)
- Higher-Order Components (@gnujoow) #187 제출 후 추

[2020-04-08 00:56] hIkipooh commented on #1
@taehwanno 다음 주 중으로 PR 올리겠습니다~!

[2020-04-08 06:23] cadenzah commented on #1
@taehwanno 다음주 중으로 PR 게시하겠습니다!

[2020-04-08 07:29] seanjun21 commented on #1
@taehwanno 21일 전까지 PR 게시하겠습니다!

[2020-04-10 10:41] taehwanno commented on #1
새롭게 추가됐지만, 이슈에 명시되어있지 않던 2가지 페이지를 배정받으셔서 작업하실 수 있도록 이슈를 업데이트했습니다. 아래 2가지 글에 대해 번역에 관심 있으시다면 코멘트 부탁드릴게요!

- [Release Channel](https://ko.reactjs.org/docs/release-channels.html) (Installation in Next Steps)
- [Profiler](https://ko.reactjs.org/docs/profiler.html) (Advanced Guides in Next Steps)

[2020-04-10 10:59] hapumee commented on #1
@taehwanno  님,  제가 `Profiler`를 진행하겠습니다. : )

[2020-04-10 11:06] Beingbook commented on #1
까맣게 잊고 있었네요. 작업을 다시 좀 진행해보고 다른 분께 토스드릴지 의견드리도록 하겠습니다.

[2020-04-15 13:52] ENvironmentSet commented on #1
@taehwanno 엇, 죄송합니다. 이제 확인했네요. 학교 일들이 쌓이면서 번역이 어렵게 되었습니다, 여유가 날 줄 알고 계속 붙들고 있긴 했는데 앞으로 더 바빠질 거 같아 다른 분께 넘겨드리려고 합니다.

늦어서 죄송합니다 (_ _)

[2020-04-15 23:00] sukjae commented on #1
@sukjae 19일 일요일까지 pr 남기겠습니다!
다른분들께 정말 죄송하네요 ㅠㅠ

[2020-04-15 23:59] hIkipooh commented on #1
@taehwanno Profiler 파트 맡을 수 있을까요?

[2020-04-16 01:38] taehwanno commented on #1
@hIkipooh 배정해드렸습니다!

[2020-04-16 04:42] anthonyminyungi commented on #1
Error Boundaries 제가 맡을 수 있을까요?

[2020-04-16 06:43] taehwanno commented on #1
@anthonyminyungi 배정해드렸습니다!

[2020-04-20 18:10] seanjun21 commented on #1
@taehwanno 매일 진행중인데, FAQ라 그런지 생각보다 양이 많네요. 일주일만 더 주시면 마무리 할 수 있을것 같습니다. 27일까지 PR 준비하도록 하겠습니다!

[2020-04-21 03:09] taehwanno commented on #1
@seanjun21 너무 무리하셔서 작업하지 않으셔도 괜찮습니다 ㅎㅎ 개인 일정이랑 잘 조절하셔서 꾸준히 조금씩 작업해주시는 걸로  충분합니다

[2020-04-24 06:09] gnujoow commented on #1
@taehwanno

지금 확인했네요 다음주중으로 완료된 번역을 업데이트 하겠습니다.

[2020-05-07 07:13] francisdzheng opened #225 "typo in README.md"
"변역"을 "번역"으로 수정 바랍니다.

[2020-05-07 07:28] francisdzheng commented on #1
안녕하세요! 번역에 참여하고 싶은데 슬랙 채널 링크가 무효네요. Can someone repost the Slack link? It seems to have expired.

[2020-05-07 17:41] taehwanno commented on #1
@francisdzheng 슬랙 채널 링크 최신화해놨습니다! 아직 배정되지 않은 페이지 하나 고르셔서 이슈 코멘트로 요청하시면 배정해드릴게요.

[2020-05-17 04:31] yumidev commented on #1
안녕하세요. Hooks의 Building Your Own Hooks를 번역하고 싶습니다.

[2020-05-17 13:45] taehwanno commented on #1
@yumidev 배정해드렸습니다. 감사합니다.

[2020-05-24 10:56] hg-pyun commented on #225
제보 감사합니다. 수정 완료했습니다.
https://github.com/reactjs/ko.reactjs.org/commit/90a3396bc73626a5257fcb1cfeafa0c3f3f3dca0

[2020-05-24 10:56] #225 closed

[2020-07-22 20:07] dexterastin commented on #1
@taehwanno 안녕하세요! 번역을 하고 싶은데, 혹시 배정 안되었거나 작업 가능한 페이지가 있을까요?

[2020-07-24 02:47] dididy opened #235 "broken url in 'docs/hooks-reference' page"
I found broken url in 'docs/hooks-reference' page.

below is line 380
`[메모이제이션된](https://ko.wikipedia.org/wiki/%EB%A9%94%EB%AA%A8%EC%9D%B4%EC%A0%9C%EC%9D%B4%EC%85%98n) 값을 반환합니다.`

And you can check that url is not properly anchor to 메모이제이션 section of wikipedia page

https://ko.wikipedia.org/wiki/%EB%A9%94%EB%AA%A8%EC%9D%B4%EC%A0%9C%EC%9D%B4%EC%85%98n

So I'll fix it and PR it now.

Thanks.

[2020-07-24 06:45] #235 closed

[2020-07-25 04:02] taehwanno commented on #1
@dexterastin 배정되지 않은 아래 5가지가 남아있습니다 ㅎㅎ

- Installation의 `Release Channels`
- Advanced Guides의 `Forwarding Refs`
- Components의 `CodeEditor`, `CodeExample`, `MarkdownPage`

[2020-07-26 10:29] hapumee commented on #1
@taehwanno 님,  외람되온대
`Forwarding Refs` 저 주시면 제가 할께요. : )

[2020-07-26 12:57] taehwanno commented on #1
@hapumee 배정해드렸습니다 ㅎㅎ

[2020-07-27 21:59] dexterastin commented on #1
@taehwanno `MarkdownPage` 어사인해주시면 작업해보고, PR 날리겠습니다.

[2020-07-28 03:08] taehwanno commented on #1
@dexterastin 배정해드렸습니다. 감사합니다.

[2020-10-30 13:35] hapumee commented on #1
@taehwanno 님, It was not easy schedule to finish the translation because of my project. (#260)
I did it finally. : )

[2020-10-31 14:49] taehwanno commented on #1
@seanjun21 Hooks FAQ 번역 진행상황 공유받을 수 있을까요?
@dexterastin `MarkdownPage`는 지금 살펴보니 번역이 필요한 부분이 없어보이네요. 혹시 다른 부분 맡고 싶으시다면 요청 부탁드릴게요!

[2020-11-02 22:09] seanjun21 commented on #1
일이 많다보니 자꾸 미뤄지네요 죄송합니다. 현재 60-70% 정도 진행했습니다.
이번주/다음주 휴가가 좀 있으니, 틈 나는대로 마무리하겠습니다.

[2020-11-09 10:27] seanjun21 commented on #1
@taehwanno 주말에 많이 진행해서 이제 마무리 작업만 남았습니다 (맞춤법 수정 및 코멘트 번역), 몇일안에 PR 제출하겠습니다. 감사합니다.

[2020-11-18 08:02] seanjun21 commented on #1
마무리 작업이 생각보다 오래 걸려서 늦었네요, 죄송합니다. PR 제출했습니다 #265

[2020-12-02 13:58] thinkanddoit commented on #1
@taehwanno
안녕하세요 저도 번역작업에 기여하고싶습니다!
**Installation의 Release Channels(배포 채널)** 배정해주실수 있나요?
배정해주시면 작업시작하도록 하겠습니다 :-)
감사합니다 ^0^

[2020-12-04 14:13] taehwanno commented on #1
@thinkanddoit you got it. thanks.

[2020-12-05 05:24] thinkanddoit commented on #1
I requested a pull request. Please confirm :-) #269

[2020-12-13 16:24] taehwanno opened #272 "Need to add lost original text translation"
Related to https://github.com/reactjs/ko.reactjs.org/pull/270#discussion_r541956122

When I'm resolving syn pull request #270, I find that some original text are lost. we need to add translation.

- [English](https://reactjs.org/docs/react-component.html#componentdidcatch)
- [Korean](https://ko.reactjs.org/docs/react-component.html#componentdidcatch)

React.Component's `componentDidCatch`

[code]

[2020-12-13 16:46] taehwanno commented on #161
@reactjs/reactjs-org-korean-translation When I looked at https://github.com/reactjs/reactjs.org/issues/3308, the React docs will be likely to change to hooks-first in 2021 early. Although the scope of the change is uncertain, it seems good that the PRs submitted so far are quickly merged. I wonder if you can help :)

[2021-01-05 01:37] nh0627 commented on #1
안녕하세요, React 한국어 번역에 컨트리뷰트하고 싶은데 혹시 맡을 만한 부분이 있을까요? 감사합니다

[2021-01-29 14:03] hg-pyun commented on #1
@taehwanno @nh0627
higher-order-components가 1년이 넘도록 팬딩되고 있는데, 새로 진행하는게 좋을 것 같습니다.

[2021-01-29 22:50] junsikshim commented on #1
@hg-pyun
대기자가 없다면 제가 hoc를 맡고 싶습니다~

[2021-01-30 05:37] hg-pyun commented on #1
@junsikshim 넵 시작하셔도 좋을 것 같습니다.

[2021-01-30 09:49] nh0627 commented on #1
@hg-pyun
제가 늦었나요..? 혹시 다른 부분은 없을까요?

[2021-01-30 12:47] hg-pyun commented on #1
@nh0627 Blog와 Community도 있습니다.
- https://ko.reactjs.org/blog/2020/12/21/data-fetching-with-react-server-components.html
- https://ko.reactjs.org/community/support.html

[2021-01-30 16:13] nh0627 commented on #1
@hg-pyun 272작업해보고 나머지 둘도 차근차근해서 PR올려볼게요~

[2021-02-16 05:26] dev-hikun commented on #1
@hg-pyun 전에 hoc가 계속 풀리퀘스트에 있길래 조금 작업해서 올려서 통과되었었습니다.
그래서 제가 이전분이 하시던거 넣고 번역을 계속 하던 중이었는데요 ㅠㅠ 어떡하죠?

[2021-02-16 12:15] taehwanno commented on #1
@dev-hikun 이 부분은 먼저 배정받으신 분을 기준으로 조율하는게 맞아보여요 ㅎㅎ 배정 받으신 분의 작업 진행상황에 따라 #286 은 반영되지 않을 수 있다는 점을 미리 알려드립니다.

@junsikshim 안녕하세요. Higher Order Components 번역 관련 진행상황을 공유받을 수 있을까요? 아직 시작하지 않으셨거나, 번역이 많이 되지 않은 상태라면 #286 리뷰를 대신 부탁드릴까 하는데 편하게 의견 부탁드릴게요!

[2021-02-16 12:52] taehwanno commented on #4
Because many pages have been translated, I will close this.

[2021-02-16 12:52] #4 closed

[2021-02-16 12:52] taehwanno commented on #94
Because many pages have been already translated, I will close this.

[2021-02-16 12:52] #94 closed

[2021-02-16 13:53] junsikshim commented on #1
@taehwanno 40% 정도 진행하긴 했는데, 다른 분께 넘겨도 상관없을 것 같습니다.
제가 번역했던 것과 차이나는 부분은 리뷰에 남기도록 하겠습니다~

[2021-02-17 00:05] dev-hikun commented on #1
@junsikshim 감사합니다! 혹시 n동이시라면 커피한잔 사드리겠습니다 하하 ;-)

[2021-02-19 06:58] dev-hikun commented on #1
@taehwanno @junsikshim @hg-pyun #286 리뷰 주신 것들 토대로 적용하였습니다. 시간 나실 때 재리뷰 부탁드리겠습니다 :-)

[2021-04-08 17:15] hannah-developer commented on #1
안녕하세요! 한국어 번역에 기여하고 싶습니다. 혹시 맡을 수 있는 부분이 아직 있을까요?

[2021-04-10 14:25] taehwanno commented on #1
@hannah-developer 모든 페이지가 번역이 완료된 상태라서 #272 이슈 한번 살펴보시거나 이미 번역된 페이지 중 어색한 부분 개선해보는게 좋아보여요!

[2021-06-26 14:50] taehwanno commented on #161
Every pull request was closed. So I will close this :)

[2021-06-26 14:50] #161 closed

[2021-11-17 08:54] hapumee commented on #1
https://ko.reactjs.org/docs/legacy-context.html

혹시 이 페이지는 새로 추가된 페이지일까요.?
번역이 진행되고 있는 페이지일까요.?

[2021-11-24 09:24] taggon opened #370 "Missing docs in the list"
The followings are the missing docs in #1 .
번역 작업 목록( #1 )에 누락된 문서가 있어서 여기에 새로 목록을 추가했습니다.

* [ ] [Legacy Context](https://github.com/reactjs/ko.reactjs.org/blob/main/content/docs/legacy-context.md)
* [ ] [Legacy Event Pooling](https://github.com/reactjs/ko.reactjs.org/blob/main/content/docs/legacy-event-pooling.md)

[2021-11-24 09:25] taggon commented on #1
@hapumee 작업 목록에서 빠진 문서인 듯 해서 별도 이슈( #370 )로 생성했습니다. cc @reactjs/reactjs-org-korean-translation

[2021-12-01 14:12] hg-pyun opened #373 "Translating the new official document"
React의 새로운 공식문서 번역이 시작되는 것 같습니다. 아래 스레드에서 논의가 진행되는 것 같은데 트래킹하면 좋을 것 같습니다.
A new official document translation of React seems to begin. The discussion seems to be taking place in the thread below, so it would be nice to track it.

https://github.com/reactjs/reactjs.org/issues/4135#issue-1066313243

[2021-12-01 14:18] hg-pyun opened #374 "[Beta] Translating New React Docs"
We've recently published a Beta of the new React documentation:

- New React Docs #3308
- https://beta.reactjs.org/

We think it's a good time to kick off the translation effort for some of the pages.

## Who is this issue for?
This issue is for existing translation repo maintainers.

## What is ok to translate now?
The new docs aren't fully written yet, and some parts will definitely change. Howe

[2021-12-01 14:37] hg-pyun commented on #370
[#374 ](https://github.com/reactjs/reactjs.org/issues/4135#issuecomment-981865846) 에 의하면, 기존 문서 번역작업은 중단하고, 새 문서 번역을 시작하는 것이 좋을 것 같습니다.

[2021-12-06 16:33] taehwanno commented on #1
안녕하세요, 이슈에 참여 중인 분들께 알려드립니다.
React의 공식 문서가 새롭게 beta로 공개되었고 아직 완성되진 않았지만, 번역을 시작할 수 있는 단계로 공유받아서 시작해보려 합니다.
각 페이지별로 번역 작업 추적을 위해 #374 이슈를 만들어뒀으며 코멘트로 작업을 원하시는 페이지를 코멘트로 요청해주시면 감사하겠습니다 🚀

[2021-12-06 16:34] taehwanno commented on #373
좋습니다 진행해보시져

[2021-12-06 23:36] hapumee commented on #374
제가 개시하겠습니다. :)
- Installation

[2021-12-07 00:08] taehwanno commented on #374
@hapumee 감사합니다!

[2021-12-07 00:16] taehwanno commented on #373
React Korea의 Facebook 그룹과 Slack의 translation 채널에 공유했습니다

[2021-12-07 01:04] junsikshim commented on #374
Choosing the State Structure 해보겠습니다~

[2021-12-07 01:17] heejour commented on #374
안녕하세요!
Adding Interactivity 작업해보겠습니다 :)

[2021-12-07 01:19] BusanSashimi commented on #374
안녕하세요 Queuing a Series of State Updates 작업해보겠습니다

[2021-12-07 01:20] hIkipooh commented on #374
안녕하세요 Queuing a Series of State Updates 작업해보겠습니다

[2021-12-07 01:27] atobaum commented on #374
안녕하세요. Preserving and Resetting State, Extracting State Logic into a Reducer 작업해보겠습니다.

[2021-12-07 01:38] hyunjaesung commented on #374
Thinking in React 해보겠습니다

[2021-12-07 01:42] kimsangyeon commented on #374
안녕하세요.
Render and Commit 해보겠습니다

[2021-12-07 01:43] dididy commented on #374
안녕하세요! Referencing Values with Refs, Manipulating the DOM with Refs 작업해보겠습니다~

[2021-12-07 01:57] taehwanno commented on #374
@heejour 'Adding Interactivity' 페이지는 아직 번역할 정도로 안정되지는 않은 상태라 다른 페이지 요청 부탁드릴게요!
@junsikshim @hIkipooh @hyunjaesung @kimsangyeon @dididy 감사합니다. 배정되었습니다!
@atobaum 한번에 하나의 페이지만 배정해드리고 있어서 'Preserving and Resetting Stat' 먼저 배정해드리겠습니다. PR 제출 후에 남아있는 페이지 재요청 부탁드릴게요!

[2021-12-07 01:59] h2ck4u commented on #374
안녕하세요~
State as a Snapshot 해보겠습니다 : )

[2021-12-07 02:00] h-yes-oo commented on #374
안녕하세요. Your First Component 해보겠습니다 :)

[2021-12-07 02:02] taehwanno commented on #374
@h2ck4u @h-yes-oo 감사합니다. 배정해드렸습니다.

[2021-12-07 02:05] student513 commented on #374
안녕하세요 start a new react project 해보고 싶습니다

[2021-12-07 02:17] hg-pyun commented on #374
@student513 배정해드렸습니다 🙇

[2021-12-07 02:19] hg-pyun commented on #373
생활코딩과 프론트엔드 개발그룹에 공유해보겠습니다.

[2021-12-07 02:29] heejour commented on #374
감사합니다!
State: A Component's Memory 작업해보겠습니다.

[2021-12-07 02:33] hg-pyun commented on #374
@heejour 배정해드렸습니다 🙇

[2021-12-07 02:36] kmin-jeong commented on #374
Passing Props to a Component 작업하고 싶습니다

[2021-12-07 02:42] cos22k commented on #374
안녕하세요. Managing State: Scaling Up with Reducer and Context 작업해보겠습니다.

[2021-12-07 02:49] KKonzi commented on #374
안녕하세요 :) Responding to Events 작업해보고 싶습니다~!

[2021-12-07 02:57] jinsunee commented on #374
안녕하세요! Extracting State Logic into a Reducer 이 부분 작업해보고 싶습니다 :)

[2021-12-07 02:58] Jincy7 commented on #374
안녕하세요. Passing Data Deeply with Context 작업해보겠습니다~

[2021-12-07 02:59] devSoyoung commented on #374
안녕하세요! Sharing State Between Components 작업 희망합니다~

[2021-12-07 03:03] BeomyeonAndrewKim commented on #374
안녕하세요!
Keeping Components Pure 부분 작업 희망합니다.

[2021-12-07 03:05] taehwanno commented on #374
@kmin-jeong @cos22k @KKonzi @Jincy7 @devSoyoung @BeomyeonAndrewKim 감사합니다. 배정해드렸습니다.
@jinsunee 한번에 하나의 페이지만 배정하고 있어서 'Extracting State Logic into a Reducer' 배정해드렸습니다. PR 제출 후에 번역되지 않은 페이지가 있다면 재요청 부탁드릴게요! 감사합니다.

[2021-12-07 03:19] Beingbook commented on #374
`Manipulating the DOM with Refs` 번역할 수 있을까요?

[2021-12-07 03:20] taehwanno commented on #374
@Beingbook 감사합니다. 배정해드렸습니다.

[2021-12-07 03:24] woojenoh commented on #374
Reacting to Input with State 번역해볼 수 있을까요? 감사합니다 :)

[2021-12-07 03:49] LEEHYUNHO2001 commented on #374
Add React to a Website 번역 희망합니다!

[2021-12-07 03:50] wooooooood commented on #374
안녕하세요, Updating Objects in State 작업 희망합니다~

[2021-12-07 03:53] n2ptune commented on #374
Updating Arrays in State 섹션 작업 희망합니다!

[2021-12-07 03:55] devdubby commented on #374
안녕하세요! Conditional Rendering 작업 희망합니다! 감사합니다.

[2021-12-07 03:57] jiseung-kang commented on #374
안녕하세요 Rendering Lists 희망합니다!

[2021-12-07 03:58] alstn2468 commented on #374
JavaScript in JSX with Curly Braces 희망합니다~!

[2021-12-07 04:12] 030ii commented on #374
안녕하세요. Writing Markup with JSX 희망합니다!

[2021-12-07 04:13] andyleeboo commented on #374
Importing and Exporting Components 작업 희망합니다.

[2021-12-07 04:14] sudalqueen commented on #374
Importing and Exporting Components 희망합니다~

[2021-12-07 04:27] taehwanno commented on #374
@woojenoh @bugoverdose @LEEHYUNHO2001 @wooooooood @devdubby @jiseung-kang @alstn2468 @030ii @andyleeboo 감사합니다. 모두 배정해드렸습니다.

[2021-12-07 04:35] jae04099 commented on #374
"don't translate yet" 부분을 나중에 참여해도 괜찮을까요? 늦어서 아쉽네요

[2021-12-07 04:36] taehwanno commented on #374
빠르게 모든 페이지 할당이 완료됐네요. 한글 번역에 기여하고 싶지만, 페이지 할당을 받지 못하신 분들은 제출해주시는 풀 리퀘스트를 리뷰해주시는 방법도 있습니다. 각 인덱스 페이지가 번역 가능한 상태로 넘어갈 때 해당 이슈의 코멘트로 알려드리도록 하겠습니다.

많은 관심 가져주셔서 감사합니다 ❤️

[2021-12-07 13:35] alstn2468 opened #378 "[Beta] Translate custom tag component"
`YouWillLearn`, `Gotcha`, `Recap`, `Challenges` 와 같은 커스텀 태그 컴포넌트에 있는 영문 값들도 수정해주는 게 좋을 것 같다는 생각이 있습니다.
제가 번역을 진행한 Javascript in jsx with curly braces 에서 확인할 수 있는 컴포넌트는 이정도 있었습니다.

- `Challenges`

<img src='https://user-images.githubusercontent.com/30997311/145038346-2fd7af2b-2f5f-408b-8e5e-3928d87f7dbe.png' width='600' />

- `ToC`

<img src='https://user-images.githubusercontent.com/30997311/14503

[2021-12-07 21:14] de24world commented on #27
모범 사례에서 일부만 영어 원문만 표기가 되어있는데, 모두 영어 원문이 표기되어있으면 좋을거 같습니다.

[2021-12-07 22:15] de24world opened #379 "eslint error (no-unused-vars)"
https://github.com/reactjs/ko.reactjs.org/blob/4daa062467bb3469883c87dd8daf46db771a30eb/plugins/gatsby-transformer-home-example-code/gatsby-node.js#L6

[2021-12-08 13:55] deli-ght commented on #374
혹시 페이지가 늘어나거나 다른 사항이 생겨 빈자리가 난다면 알려주시면 감사하겠습니다!

[2021-12-08 15:20] taehwanno commented on #379
업스트림 저장소 살펴보니 최근에 https://github.com/reactjs/reactjs.org/pull/4115 에서 제거됐네요. #369 처럼 주기적으로 업스트림의 변화를 봇이 만들어주고 있어서 그때 해결되지 않을까 싶습니다 ㅎㅎ

[2021-12-08 15:35] taehwanno commented on #378
좋습니다. 지금 번역 진행 중이신 페이지와는 분리해서 번역해보시져 ㅎㅎ

[2021-12-11 13:28] gnujoow commented on #374
이미 번역이 진행되어 merge된 문서에 대해서 더 매끄러운 표현이 있다고 생각되시면 PR올려주시면 감사하겠습니다. ;)

[2021-12-12 08:52] gnujoow commented on #1
close due to #374

[2021-12-12 15:18] #378 closed

[2021-12-14 13:39] hg-pyun commented on #379
오 그럼 날먹을 기다려 봅니다.

[2021-12-14 13:39] hg-pyun commented on #379
오 그럼 기다려 봅니다.

[2021-12-14 16:04] taehwanno commented on #379
Fixed by #392

[2021-12-14 16:04] #379 closed

[2022-01-30 04:01] hotbreakb commented on #374
안녕하세요, 리액트 문서 내부에 "CodePen에서 시험해보기(Try it on codepen)"이라고 적혀있는 부분 링크가 잘못되어 있어 코드가 뜨지 않는 것이 많은데 어디에 수정을 요청드리면 좋을까요?

예) [한국 문서](https://ko.reactjs.org/docs/components-and-props.html) / [원문](https://reactjs.org/docs/components-and-props.html)

한국 문서 버튼 링크
[code]

원문 버튼 링크
[code]

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/64337152/151686106-b43879db-b2b5-49fc-acd0-e

[2022-02-06 14:24] hg-pyun commented on #374
@hotbreakb issue로 등록해주셔도 좋구요. 직접 수정해주시면 됩니다!

[2022-02-09 13:48] circlezero opened #418 "Conflict Merge"
<img width="408" alt="스크린샷 2022-02-09 오후 10 47 15" src="https://user-images.githubusercontent.com/16660871/153213940-ede96491-9430-4e88-8a7b-670beff5f90c.png">

우연찮게 발견하게 되었는데
Conflict가 된 상태 그대로 Merge가 되면서 문제가 생긴거 같습니다.

[2022-02-11 12:21] hmu332233 commented on #418
이슈가 이미 있어서 링크와 이미지 남깁니다. 😮

[Route-based code splitting](https://ko.reactjs.org/docs/code-splitting.html#route-based-code-splitting)

![image](https://user-images.githubusercontent.com/10302969/153589579-0d97910b-7e26-46fc-9802-2f48969aff07.png)

[2022-03-31 05:54] zwonlala commented on #418
https://ko.reactjs.org/docs/jsx-in-depth.html
위 문서에서도 발생해서 찾아보니 이미 등록된 이슈군요!

[2022-04-02 13:36] dodoongtak opened #443 "[Question] 18 버전 소개 블로그 번역은 언제 진행되나요?"
어디에서 기여할 수 있을까요?

See Also:
- https://reactjs.org/blog/2022/03/29/react-v18.html

[2022-04-05 13:20] hg-pyun commented on #443
react.org 기존 브랜치를 땡겨와야하는데.. 지금 컨플릭 상태를 보니 날잡고 한번 정리해야하긴 합니다 ㅠㅜ

이 위치에 넣어야 합니다.
https://github.com/reactjs/ko.reactjs.org/tree/main/content/blog

[2022-04-06 10:14] artvelop commented on #418
https://github.com/reactjs/ko.reactjs.org/pull/446

안그래도 jsx문서 읽다가 발견해서 PR등록했습니다

[2022-04-25 14:51] dante01yoon commented on #443
버전 18 번역에 참가하고 싶은데 언제쯤 시작 가능할까요?

[2022-05-07 01:49] froggal commented on #443
18 버전 번역에 참여하려합니다. 시작되면 바로 참여하겠습니다.

[2022-05-07 13:25] hg-pyun commented on #443
beta로 전환해야하는데, 시간이 없어서 작업을 못하고있네요. ㅠ_ㅠ 조만간 챙겨보겠습니다.

[2022-05-16 08:39] mnxmnz commented on #374
안녕하세요 React Developer Tools 번역 작업 신청할 수 있을까요?

[2022-05-19 11:50] junsikshim commented on #374
안녕하세요.
'Choosing the State Structure' 페이지를 맡고 있는데..
요즘 도저히 시간이 안 나서 아무래도 다른 분께 넘겨드려야 할 것 같습니다;
재할당 부탁드립니다~

[2022-05-19 11:52] jiseung-kang commented on #374
제가 진행해도 될까요 ~ ?

[2022-05-22 00:01] hg-pyun opened #462 "Resolve Conflict"
현재 기존 페이지와 React 18관련해서 컨플릭트가 어머어머한데요. 한번 털고 가야할 듯 싶습니다. 어떻게 시작해야할까 고민인데 좋은 아이디어 스레드로 논의해보고 진행해보면 좋을 것 같습니다.

[2022-05-22 00:33] hg-pyun commented on #374
@jiseung-kang 안녕하세요~ 지금 번역속도가 원문의 업데이트속도를 따라잡지 못하고 있어서, 이 문제를 먼저 해결해야 할 것 같습니다. 어느정도 컨플릭트를 해결한 후에 다시 말씀드리겠습니다 🙇

[2022-05-22 01:00] hg-pyun commented on #418
이건 따로 챙겨보겠습니다.

[2022-05-22 01:00] #418 closed

[2022-05-22 01:02] hg-pyun commented on #462
일단 현재 번역된 beta 문서는 머지합니다. 번역속도가 원문을 못따라가는 것도 문제라 좀 킵해놓고 어느정도 안정화되면 점진적으로 반영하는것을 고려해 봐야겠습니다.

[2022-05-22 02:26] hg-pyun commented on #443
@dodoongtak blog쪽은 번역 시작해셔도 됩니다!

[2022-05-22 02:26] dodoongtak commented on #443
크으으 바쁘신 와중에 업데이트 해주셔서 감사합니다 :)

[2022-05-23 06:47] alstn2468 commented on #462
원문의 변경 부분과 번역된 부분을 매칭하는게 굉장히 어려울 것 같네요... 😢

[2022-05-24 01:20] hg-pyun commented on #462
옙 그게 좀 고민입니다. 지금 beta문서도 빠르게 변하고 있어서, 이게 바로바로 번역에 반영되면 좋을텐데 현재 상황이 쉽지 않네요 😂

[2022-05-25 08:59] froggal commented on #443
저도 가능할까요?

[2022-06-30 05:12] ynifamily3 opened #481 "소스코드 예제 typo"
https://github.com/reactjs/ko.reactjs.org/blob/f265301642079f05066231c005e73672eb2f0f91/content/docs/concurrent-mode-patterns.md

AS-IS
`const [startTransition, isPending] = useTransition({`

TO-BE
`const [isPending, startTransition] = useTransition({`

* 혹시, 아카이브된 문서라 업데이트가 이루어지지 않고 있나요?

[2022-07-13 01:49] ssohymind opened #487 "오번역 수정 요청"
https://reactjs.org/docs/reconciliation.html#recursing-on-children

**React will mutate every child instead of realizing it can keep the `<li>Duke</li>` and `<li>Villanova</li>` subtrees intact. This inefficiency can be a problem.**

AS-IS:
React는 모든 자식을 변형시켜 `<li>Duke</li>` 및 `<li>Villanova</li>` 서브 트리를 그대로 유지할 수 있음을 깨닫지 못합니다. 이러한 비효율은 문제가 될 수 있습니다.

TO-BE:
React는 `<li>Duke</li>` 및 `<li>Villanova

[2022-07-15 14:30] gnujoow commented on #487
해당 부분에 대한 Pull Request를 올려주시면 감사하겠습니다.

[2022-07-15 14:30] #487 closed

[2022-07-15 14:33] gnujoow commented on #481
https://github.com/reactjs/reactjs.org/issues/4135#issuecomment-981865846
https://github.com/reactjs/ko.reactjs.org/issues/374
에 따라 새로운 버전의 문서를 번역하고 있습니다. 해당 문서에 대한 typo라면 PR을 올려주시면 감사하곘습니다.

[2022-07-15 14:33] #481 closed

[2022-08-21 10:06] kmin-jeong commented on #374
안녕하세요!  Passing Props to a Component를 맡은 김민정이라고 합니다. 수정사항을 고친 후에 리뷰어들에게 request를 보내는데 2분이어서 한분누르고 그다음분을 누르면 request가 한분이 해제가 되어있습니다. 혹시나 몰라서 댓글 달아두겠습니다
@hg-pyun @gnujoow @dev-hikun

[2022-09-01 08:08] KunHwanAhn commented on #374
요 근래에 리액트 문서를 보다 문득 베타 버전은 한글 번역이 없나 하고 찾아봤는데, 여기서 열심히 하고 계셨군요.
기여를 해볼까 했는데, 모든 페이지 할당을 마치셨군요. 😭 모두 고생 많으습니다. 🙏

위에서 말씀하신 충돌 해결을 완료하신 뒤에, 추가로 번역이 필요한 페이지가 있다면 참여하고 싶습니다. 🙇

[2022-09-01 12:56] ojj1123 commented on #374
저도 react beta docs 읽어보고 있는데, 내용이 괜찮은 것 같아서 만약 추가로 번역 필요한 곳 있으면 참여하고 싶습니다!

[2022-09-04 08:43] taehwanno commented on #462
#479 반영해뒀습니다. 충돌 해결하면서 번역이 필요한 문장은 과거의 한글 번역 문장은 지우고, 영어 원문 그대로 두고 최신 내용을 보실 수 있게 해뒀습니다~!

[2022-09-04 08:56] taehwanno commented on #373
#374 에서 진행상황 관리하므로 해당 이슈는 닫도록 할게요~!

[2022-09-04 08:56] #373 closed

[2022-09-26 09:08] kmin-jeong commented on #374
@gnujoow @hg-pyun @dev-hikun
Passing Props to a Component를 맡은 kmin-jeong이라고 합니다.
어색한 부분들 고치고 맞춤법 검사기를 돌렸습니다! 리뷰 요청하고 싶은데 한사람을 누르면 한사람이 제거 되네요ㅠㅠ 시간되실 때 확인 부탁드려요!
+그리고 왜 그런지는 모르겠는데 circle/ci이 부분에서 에러가 납니다

[2022-11-04 07:44] ultrakeypoint opened #520 "Avoiding fallbacks 번역 추가"
경로 : 문서 > 고급 안내서 > 코드 분할 > Avoiding fallbacks

Avoiding fallbacks 구문에 번역이 필요합니다.

[2022-11-05 00:04] SeyoungJoo commented on #374
안녕하세요. 따로 여쭤볼 곳이 없어 여기에 남깁니다. pr을 만들어서 푸시를 하려고 하는데 권한이 없다고 나오면서 푸시가 안되네요 😭 혹시 오픈소스에 참여하려면 권한을 부여받아야 하는건가요?

[2022-11-05 00:08] taggon commented on #374
혹시 현재 저장소에 바로 브랜치를 만드신 거 아닌가요? 먼저 본인 저장소로 포크를 하신 후에 작업을 하셔야 합니다. :)

도움이 될만한 문서를 링크합니다.
https://chanhuiseok.github.io/posts/git-3/

[2022-11-05 00:10] SeyoungJoo opened #522 "Ensuring reusable state 번역 추가"
https://ko.reactjs.org/docs/strict-mode.html
페이지의 Ensuring reusable state 부분 번역이 필요합니다.

[2022-11-13 16:53] SyingSHY commented on #374
안녕하세요! 기존 문서들처럼 베타 버전 문서도 번역된 페이지가 있으면 좋겠다고 생각했었는데 이미 열심히 작업해주시고 계셨었네요.
혹시라도 작업 이후 수정되거나 새로 더해진 문서의 추가 번역에 도움 드릴 기회가 있다면 참여하고 싶습니다. :)

[2022-11-27 00:21] #522 closed